{%- assign cdate = site.time | date: "%Y-%m-%d" -%}

{%- assign district = offer.region | replace_first: 'кий', 'кому' | replace: 'район', 'районі' -%}

{%- capture folder -%}/assets/images/{{ offer.phone }}/{{ offer.id }}/{%- endcapture -%}

{%- capture files -%}
  {%- for file in site.static_files -%}
    {%- if file.path contains folder and file.extname == '.jpg' or file.extname == '.JPG' or file.extname == '.jpeg' or file.extname == '.JPEG' or file.extname == '.png' or file.extname == '.PNG' -%}{{ file.path }}{%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{%- assign isImage = files | strip_newlines -%}

{%- include map/page-exists.html -%}

{%- if forloop.first -%}
  <table
    id="property"
    data-locale="{{ site.lang | replace: '_', '-' }}"
    data-toggle="table"
    data-search="true"
    data-show-print="true"
    data-pagination="true"
    data-detail-view="true"
    data-detail-view-icon="false"
    data-detail-view-by-click="true"
    data-mobile-responsive="true"
    data-buttons-class="primary"
    data-detail-formatter="htmlDetailFormatter">
    <thead class="thead-re">
      <tr>
        <th data-field="id" data-visible="false">id</th>
        <th data-field="type" data-title="{{ site.data.lang-uk.re_offer }}" data-formatter="propertyFormatter">Property</th>
        <th data-field="rent" data-visible="false">rent</th>
        <th data-field="page" data-visible="false">page</th>
        <th data-field="rooms" data-visible="false">rooms</th>
        <th data-field="surface" data-visible="false">surface</th>
        <th data-field="surface_land" data-visible="false">surface_land</th>
        <th data-field="price" data-formatter="priceFormatter" data-title="{{ site.data.lang-uk.re_cost | capitalize }}" data-sortable="true" data-sorter="priceSorter">Price</th>
        <th data-field="price_sqmt" data-visible="false">price_sqmt</th>
        <th data-field="floor" data-visible="false">floor</th>
        <th data-field="floors" data-visible="false">floors</th>
        <th data-field="parking" data-visible="false">parking</th>
        <th data-field="region" data-visible="false">region</th>
        <th data-field="location" data-visible="false">location</th>
        <th data-field="address" data-visible="false">address</th>
        <th data-field="coordinates" data-visible="false">coordinates</th>
        <th data-field="date" data-visible="false">date</th>
        <th data-field="seller" data-visible="false">seller</th>
        <th data-field="phone" data-visible="false">phone</th>
        <th data-field="description" data-visible="false">description</th>
        <th data-field="images" data-visible="false">images</th>
      </tr>
    </thead>
    <tbody>
  {%- endif -%}
      <tr>
        <td>{{ offer.id }}</td>
        <td>{{ offer.type }}</td>
        <td>{{ offer.rent }}</td>
        <td>{{ offer.page }}</td>
        <td>{{ offer.rooms }}</td>
        <td>{{ offer.surface }}</td>
        <td>{{ offer.surface_land }}</td>
        <td>{{ offer.price }}</td>
        <td>{{ offer.price_sqmt }}</td>
        <td>{{ offer.floor }}</td>
        <td>{{ offer.floors }}</td>
        <td>{{ offer.parking }}</td>
        <td>{{ offer.region }}</td>
        <td>{{ offer.location }}</td>
        <td>{{ offer.address }}</td>
        <td>{{ offer.coordinates }}</td>
        <td>{%- if offer.date > cdate -%}{{ cdate }}{%- else -%}{{ offer.date }}{%- endif -%}</td>
        <td>{{ offer.seller }}</td>
        <td>{{ offer.phone }}</td>
        <td>{{ offer.description }}</td>
        {%- if isImage != '' -%}
          <td>
            <hr>
            <span class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mx-n1">
            {%- for file in site.static_files -%}
              {%- if file.path contains folder and file.extname == '.jpg' or file.extname == '.JPG' or file.extname == '.jpeg' or file.extname == '.JPEG' or file.extname == '.png' or file.extname == '.PNG' -%}
              <figure class="col px-1">
                <a href="{{ file.path | url_decode | relative_url }}" class="lightbox" title="{{ offer.type }} {% if offer.address contains site.data.lang-uk.re_vul %}{{ site.data.lang-uk.re_po }} {{ offer.address }}{% else %}{{ site.data.lang-uk.re_at }} {{ offer.address }}{% endif %} {{ site.data.lang-uk.re_in }} {{ offer.location }}{{ district }}" data-lightbox-caption="{{ site.data.lang-uk.re_free_ads_in }} {{ offer.location }}{{ district }}" data-lightbox-width="1024" data-lightbox-height="768" data-lightbox-group="2{{ offer.id }}{{ offer.phone }}{{ include.aid }}">
                  <img src="{{ file.path | url_decode | relative_url }}" loading="lazy" class="img-fluid img-thumbnail" title="{{ offer.type }} {% if offer.address contains site.data.lang-uk.re_vul %}{{ site.data.lang-uk.re_po }} {{ offer.address }}{% else %}{{ site.data.lang-uk.re_at }} {{ offer.address }}{% endif %} {{ offer.address }} {{ site.data.lang-uk.re_in }} {{ offer.location }}{{ district }}" alt="{{ offer.type }} {{ site.data.lang-uk.re_in }} {{ offer.location }}{{ district }}" intrinsicsize="1024x768">
                </a>
              </figure>
              {%- endif -%}
            {%- endfor -%}
            </span>
          </td>
        {%- else -%}
          <td></td>
        {%- endif -%}
      </tr>
  {%- if forloop.last -%}
    </tbody>
  </table>
  {%- endif -%}
