{%- assign jsonFile = json | remove_first: '/' -%}
{%- capture fJson -%}{%- file_exists {{ jsonFile }} -%}{%- endcapture -%}
{%- include map/page-exists.html -%}
{%- if fJson == 'true' -%}
<table
  id="property"
  data-locale="{{ site.lang | replace: '_', '-' }}"
  data-toggle="table"
  data-search="true"
  data-search-accent-neutralise="true"
  data-sort-class="table-active"
  data-sortable="true"
  data-detail-view="true"
  data-detail-view-icon="false"
  data-detail-view-by-click="true"
  data-detail-formatter="jsDetailFormatter"
  data-pagination="true"
  data-pagination-pre-text="❮"
  data-pagination-next-text="❯"
  data-mobile-responsive="true"
  data-buttons-class="primary"
  data-url="{{ json }}">
  <thead class="thead-re">
    <tr>
      <th data-field="type" data-title="{{ site.data.uk.re_offer }}" data-formatter="propertyFormatter">Власність</th>
      <th data-field="price" data-title="{{ site.data.uk.re_cost | capitalize }}" data-formatter="priceFormatter" data-sortable="true" data-sorter="priceSorter">Ціна</th>
    </tr>
  </thead>
</table>
{%- else -%}
<p>Ой! Щось тут не так...<p>
{%- endif -%}
