---
title: Додати оголошення
keywords: додати безкоштовне оголошення, продати житло, продати квартиру, подати оголошення, продати будинок, здати в оренду, безкоштовні оголошення
description: Безкоштовні оголошення про нерухомість в місті Івано-Франківськ та івано-Франківській області
sitemap: false
---

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Як додати оголошення?</h1>
    <p class="lead">
      Все дуже просто, принаймні ми намагаємось спростити все до мінімуму. Вам слід лише виконати ці три простих кроки і інформація про вашу нерухомість буде безкоштовно розміщено та опубліковано на цьому вебсайті.
    </p>
  </div>
</div>
<div class="row steps justify-content-center">
  <nav>
    <div class="nav nav-tabs border-0" id="nav-step" role="tablist">
      <a class="nav-link mr-3 border-0 active" id="step-one-tab" data-toggle="tab" href="#step-one" role="tab" aria-controls="step-one" aria-selected="true">
        <h3><span class="badge rounded-pill badge-primary">1</span></h3>
      </a>
      <a class="nav-link mr-3 border-0" id="step-two-tab" data-toggle="tab" href="#step-two" role="tab" aria-controls="step-two" aria-selected="false">
        <h3><span class="badge rounded-pill badge-info">2</span></h3>
      </a>
      <a class="nav-link border-0" id="step-three-tab" data-toggle="tab" href="#step-three" role="tab" aria-controls="step-three" aria-selected="false">
        <h3><span class="badge rounded-pill badge-success">3</span></h3>
      </a>
    </div>
  </nav>
  <div class="tab-content" id="nav-step-content">
    <div class="tab-pane fade show active" id="step-one" role="tabpanel" aria-labelledby="step-one-tab">
      <div class="col-md-8 offset-md-2">
        <div class="alert alert-primary" role="alert">
          <h4 class="alert-heading">Крок перший</h4>
          <p>Перш за все ми рекомендуємо прочитати наші <a href="/terms-and-conditions.html#rules-for-publishing-ads" class="alert-link">Правила публікації оголошень</a>.</p>
          <p>Вам не потрібно ніде реєструватися, а лише зробити дуже простий і водночас дуже важливий крок, а саме підготувати інформацію про вашу нерухомість, а саме <a href="/terms-and-conditions.html#general-real-estate-data" class="alert-link">загальні дані про об'єкт нерухомості</a>, і повірте це не так складно, як ви гадаєте :).</p>
          {%- include add-info-more.html -%}
          <p>Якщо у вас немає ніякого бажання читати, а тим більше писати, тоді відразу переходіть на <a class="text-decoration alert-link" id="step-three-tab" data-toggle="tab" href="#step-three" role="tab" aria-controls="step-three" aria-selected="false">третій крок</a> :) .</p>
          <p>За результатами прочитаного у вас має з'явитися щось на зразок цього:</p>
          {%- include example-sms-ads.html -%}
          <p>Ці зразки CMS-текстового оголошення стануть вам у пригоді якщо ви надсилатимете ваше оголошення використовуючи службу коротких повідомлень (SMS/СМС) вашого телефону.</p>
          <p>{%- include add-sent-ads.html -%}&nbsp;або через соціальні додатки та мережі чи з цього вебсайту заповнивши форму або написавши листа електронною поштою.</p>
          {%- include social-media.html type="text" twitter=1 facebook=1 skype=1 whatsapp=1 viber=1 telegram=1 messenger=1 website=1 email=1 instagram=1 -%}
          <p>Якщо для вас це все дуже складно, тоді у такому випадку переходіть до другого кроку.</p>
          <hr>
          <p class="mb-0">
            <a class="text-decoration alert-link" id="step-two-tab" data-toggle="tab" href="#step-two" role="tab" aria-controls="step-two" aria-selected="false">
              Наступний крок
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="step-two" role="tabpanel" aria-labelledby="step-two-tab">
      <div class="col-md-8 offset-md-2">
        <div class="alert alert-info" role="alert">
          <h4 class="alert-heading">Крок другий</h4>
          <p>Якщо ви все прочитали і вірно зрозуміли, то у Вас за результатами першого кроку має з'явитися щось схоже на це.</p>
          <hr>
          <h5 class="alert-heading">Приклади підготовлених CMC-текстових оголошень</h5>
          <p>Рекомендуємо підготовлене оголошення у такому форматі надсилати через службу коротких повідомлень (SMS/СМС) вашого мобільного телефону на номер {% include footer/phone.html legal=site.contact.phone_sms type='text' %}.</p>
          {%- include example-sms-ads.html -%}
          {%- include add-sent-ads.html -%}
          <hr>
          <p>Надішліть нам своє підготовлене оголошення доступним для вас способом. Найпростіший спосіб передати інформацію - зателефонувати нам та продиктувати своє оголошення або надішліть оголошення через службу коротких повідомлень (SMS/СМС) використовуючи ваш власний мобільний телефон на номер {% include footer/phone.html legal=site.contact.phone_sms type='text' %}.</p>
          <p>Ви також можете надіслати своє оголошення використовуючи мережу Інтернет за допомогою нижче вказаних програмних застосунків.</p>
          <p>Формат оголошення у такому випадку довільний, але вміст має відповідати <a href="/terms-and-conditions.html#rules-for-publishing-ads" class="alert-link">вимогам правил</a>.</p>
          {%- include social-media.html type="text" twitter=1 facebook=1 skype=1 whatsapp=1 viber=1 telegram=1 messenger=1 website=1 email=1 instagram=1 -%}
          <hr>
          <p>Отримавши від вас інформацію про вашу нерухомість ми відразу опублікоємо ваше оголошення на цьому вебсайті у такому ворфматі.</p>
          <h5 class="alert-heading">Зразки опублікованих оголошень</h5>
          <div class="row">
            <div class="col-md-6 mb-3 mb-lg-0 px-2">
              {% for offer in site.data.example limit:2 %}
                {%- if forloop.last -%}
                </div>
                <div class="col-md-6 px-2">
                {%- endif -%}
                {%- include card.html offer=offer aid='101' -%}
              {% endfor %}
            </div>
          </div>
          <hr>
          <p class="mb-0">Але якщо вам це все здається дуже складним, тоді просто <strong>зателефонуйте</strong> нам на&nbsp;<strong>{%- include footer/phone.html legal=site.contact.phone_sms type='text' -%}</strong> та <strong>продиктуйте своє оголошення</strong> про власну нерухомість</p>
          <hr>
          <a class="text-decoration alert-link" id="step-three-tab" data-toggle="tab" href="#step-three" role="tab" aria-controls="step-three" aria-selected="false">
            Наступний крок
          </a>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="step-three" role="tabpanel" aria-labelledby="step-three-tab">
      <div class="col-md-6 offset-md-3">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Крок третій</h4>
          <p>Третього кроку немає.</p>
          <p>Отже все неймовірно легко і просто. Сформуйте своє оголошення та надішліть його нам доступним для вас способом.</p>
          <p>Надіслати оголошення можна текстовим повідомленням використовуючи ваш мобільний телефон (SMS/СМС) на номер {% include footer/phone.html legal=site.contact.phone_sms type='text' %} або мережу Інтернет за допомогою застосунків Skype, WhatsApp, Viber, Telegram та їм подібні.</p>
          <p>Способи надсилання оголошення. Оберіть найзручніший.</p>
          <ul>
            <li>Служба коротких повідомлень (SMS/СМС) у вашому мобільному телефоні на номер {% include footer/phone.html legal=site.contact.phone_sms type='text' %}</li>
            <li>Електронна пошта - надішліть на адресу {% include footer/contact.html legal="email" %} (мережа Інтернет)</li>
            <li>Застосунки Skype, WhatsApp, Viber, Telegram тощо (мережа Інтернет)</li>
            <li>Соціальні мережі (мережа Інтернет)</li>
            <li>Телефон мобільний (смартфон) або стаціонарний (звичайний)</li>
          </ul>
          {%- include social-media.html type="text" twitter=1 facebook=1 skype=1 whatsapp=1 viber=1 telegram=1 messenger=1 website=1 email=1 instagram=1 -%}
          <hr>
          <p class="mb-0"><a class="alert-link" href="/contacts">Наші контакти для надсилання оголошень</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
