{%- assign 3s = site.pages | sort: 'path' | where_exp: 'i', 'i.dir contains include.current' -%}
{%- if 3s.size > 3 -%}
  {%- for 3 in 3s -%}
    {%- assign slug = 3.dir | split: '/' | last -%}
    {%- assign current = 3.url | remove: slug | remove: '//' | append: '/' -%}
    {%- assign 3_size = 3.dir | split: '/' | size -%}
    {%- if 3.url contains '/index.html' and 3.navhide != 1 and 3.title != '' and 3_size < 6 -%}
      <option value="{{ 3.url | remove: 'index.html' }}">{{ include.navtitle }} - {{ 3.navtitle }}</option>
    {%- elsif include.current == current and 3.navhide != 1 and 3.title != '' and 3_size < 6 -%}
      <option value="{{ 3.url }}">{{ include.navtitle }} - {{ 3.navtitle }}</option>
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}