<div class="modal fade realestate" id="reMap" tabindex="-1" role="dialog" aria-labelledby="reMap" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content net-realestate">
      <div class="modal-header border-0">
        <h5 class="modal-title pl-2 text-white">{{ site.data.lang-uk.realestate }} {{ site.data.lang-uk.re_on_map }}</h5>
        <button type="button" class="close py-1 px-2" data-dismiss="modal" aria-label="Close" title="{{ site.data.lang-uk.close }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0 pb-4 px-4">
        <div id="map" style="height:480px;"></div>
      </div>
    </div>
  </div>
</div>

<script>

  var modal = $('#reMap');
  var map = null;
  $(document).on('click', 'a.marker', function () {
      var coord = $(this).attr('data-coord') || '';
      var tmp = coord.split(',');
      var loc = [parseFloat(tmp[0]),parseFloat(tmp[1])];
      map = L.map('map',{center:loc}).setView(loc,16);
      if (map) {
          L.marker(eval(loc)).addTo(map);
          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom:16,minZoom:16,attribution:'<a href="{{ site.url }}">{{ site.title }}</a> - {{ site.region }}',tileSize:512,zoomOffset:-1
          }).addTo(map);
          map.attributionControl.setPrefix('');
          modal.on('shown.bs.modal', function(){ map.invalidateSize(); });
      }
  });
  modal.on('hidden.bs.modal', function (e) {
    map.off();
    map.remove();
  });

{%- comment -%}
  {%- include map/page-exists.html -%}
  {%- capture url -%}{%- if page.url contains '/all' -%}{{ page.url | replace: '/all', '/map' }}{%- endif -%}{%- endcapture -%}
  {%- if page.url contains '/all' and isMap == 'true' -%}
    function buttons () {
      return {
        openMap: {
          text: 'Map',
          icon: 're-map',
          event: {
            'click': () => {
              window.open('{{ url }}', '_blank');
            }
          },
          attributes: {
            title: '{{ site.data.lang-uk.realestate }} {{ site.data.lang-uk.re_on_map }}'
          }
        }
      }
    }
  {%- endif -%}
{%- endcomment -%}

</script>
