<p><a class="alert-link" data-toggle="collapse" href="#collapseAddMore" role="button" aria-expanded="false" aria-controls="collapseAddMore">Більш детальніше про це тут</a>.</p>
<div class="collapse" id="collapseAddMore">
 <dl>
   <dt>Тип нурухомості:</dt>
   <dd>Це те, що ви продаєте або передає (здаєте) в оренду, це може бути житлове або нежитлове, а саме Квартира, Будинок, Гараж, Кімната, Частина будинку, Частина квартири, Магазин, Кафе, Ресторан, Виробниче приміщення, Склад і тому подібне. Зразок написання: <kbd>ПродКвартира</kbd> або <kbd>Прод.Част.Буд.</kbd> або <kbd>Здаю.Кварт.</kbd>.</dd>
   <dt>Загальна кількість квадратних метрів:</dt>
   <dd>Тут вказуєте загальну кількість квадратних метрів наявної площі вашої нурухомості, наприклад <kbd>50м</kbd> або <kbd>85м</kbd>.</dd>
   <dt>Загальна кількість квадратних метрів землі:</dt>
   <dd>Це ті квадратні метри землі, які є невід'ємною частиною вашої нерухомості і продаються разом з об'єктом нерухомості, наприклад <kbd>зем.200м</kbd> або <kbd>зем.10сот</kbd>.</dd>
   <dt>Кількість кімнат:</dt>
   <dd>Вказуєте загальну кількість кімнат без кухні, без коридорів і без сантехнічних вузлів, тільки житлові кімнати, і пишете, наприклад: <kbd>кім.2</kbd> або <kbd>кім.4</kbd>.</dd>
   <dt>Поверх:</dt>
   <dd>Напишіть на якому поверсі знаходиться ваша нерухомість, наприклад <kbd>пов.2</kbd> або <kbd>пов.8</kbd>.</dd>
   <dt>Поверхів:</dt>
   <dd>Кільксть поверхів у будинку де знаходиться ваша нерухомість, наприклад <kbd>п-хів.2</kbd> або <kbd>п-хів.5</kbd>.</dd>
   <dt>Ціна нерухомості:</dt>
   <dd>Наприклад якщо це долар <kbd>$15000</kbd>, або якщо це євро <kbd>€15000</kbd>, або якщо це гривня <kbd>₴150000</kbd> (або вказуєте просто цифри без валютних знаків, якщо це гривня).</dd>
   <dt>Продавець:</dt>
   <dd>Бажано написати повністю прізвище, ім'я та по батькові (по батькові не обов'язково) це вказує на відкритість і покращує довіру. Приклад напсиання <kbd>Тар.Гри.Шевченко</kbd> або <kbd>Іван.Франко</kbd>.</dd>
   <dt>Телефон продавця:</dt>
   <dd>Так, у нас телефон це основний ідентифікатор продавця нерухомості, без телефону ми не зможемо додати вашу нерухомість до нашої бази данних. Зразок напсиання, <kbd>{{ site.contact.phone_sms }}</kbd>. Якщо ви оголошення надсилаєте за допомогою (СМС/SMS) тоді телефон не вказуєте, ми його отримаємо разом з вашим повідомленням, звісно якщо ви не заблокуєте можливість бачити ваш номер :) .</dd>
   <dt>Місто / Село:</dt>
   <dd>Наприклад <kbd>м.Ів-Франківськ</kbd>, або якщо це селище міського типу <kbd>смт.Отинія</kbd>, або якщо це село <kbd>с.Марківці</kbd>, або якщо це селище <kbd>сщ.Войнилів</kbd>.</dd>
   <dt>Район:</dt>
   <dd>Якщо ваша нерухомість знаходиться не у місті тоді вказуєте район у якому знаходиться ваша власність, до прикладу <kbd>Коломийський.р-н</kbd> або <kbd>Верховинський.р-н</kbd>.</dd>
   <dt>Адреса:</dt>
   <dd>Наприклад якщо це вулиця <kbd>вул.Мазепи</kbd>, або якщо це площа <kbd>пл.Ринкова</kbd>, або якщо це майдан <kbd>май.Незалежності</kbd>, або якщо це проспект <kbd>пт.Південний</kbd>, або якщо це провулок <kbd>пкУкраїнський</kbd>.</dd>
 </dl>
</div>
