{%- assign sizeu = slashu | size | minus: 1 -%}
{%- assign backu = slashu | slice: 0, sizeu | join: '/' | append: '/' -%}
{%- assign idata = site.pages | sort: 'dir' | where_exp: 'i', "i.dir == backu and i.url contains '/index.html'" -%}
<hr>
<div class="row">
  <div class="col-10 pt-2">
    <span class="mr-1">&larr;</span><a href="{{ backu }}">{{ site.data.uk.to_section }} {{ idata[0].title | downcase }}</a>
  </div>
  <div class="col-2">
    {%- assign backs = site.posts | where_exp: 'i', 'i.url contains backu' -%}
    {%- assign iloop = 0 -%}
    {%- for item in backs %}{%- if item.url == pageu %}{%- assign iloop = forloop.index -%}{%- endif %}{%- endfor -%}
    {%- include pagination-re.html -%}
  </div>
</div>
