{%- assign cdate = site.time | date: "%Y-%m-%d" -%}
{%- assign offer = include.offer -%}
{%- capture folder -%}/assets/images/{{ offer.phone }}/{{ offer.id }}/{%- endcapture -%}
{%- capture files -%}
  {%- for file in site.static_files -%}
    {%- if file.path contains folder and file.extname == '.png' or file.extname == '.PNG' or file.extname == '.jpg' or file.extname == '.JPG' or file.extname == '.jpeg' or file.extname == '.JPEG' -%}{{ file.path }}{%- endif -%}
  {%- endfor -%}
{%- endcapture -%}
{%- assign isImage = files | strip_newlines -%}
<article class="card h-100{% if include.slug == 'realtor' or include.slug == 'agency' or include.slug == 'developer' %} border-bottom-0{% endif %}" role="presentation">
  <div class="card-body pb-0">
    <h3 class="sr-only m-0 p-0 h6"><data value="{{ offer.id }}">{% if offer.rent == '1' %}{{ site.data.lang-uk.re_object_rent }}{% else %}{{ site.data.lang-uk.re_object_sell }}{% endif %} #{{ offer.id }} - {{ offer.type }}</data></h3>
    <div class="mb-1">{% include card/body.html %}</div>
    <div class="mb-1 small text-muted date">{%- if offer.rent == '1' -%}{{ site.data.lang-uk.re_dater }}{%- else -%}{{ site.data.lang-uk.re_date }}{%- endif -%}&nbsp;<time datetime="{%- if offer.date > cdate -%}{{ cdate }}{%- else -%}{{ offer.date }}{%- endif -%}">{%- if offer.date > cdate -%}{%- include date.html date=cdate -%}{%- else -%}{%- include date.html date=offer.date -%}{%- endif -%}</time></div>
  </div>
  <div class="card-footer border-top-0 bg-white pt-0 pb-2 px-3 text-right">
    <div class="row row-cols-auto justify-content-end">
      <div class="col-auto pr-0">{%- include footer/phone.html legal=offer.phone type='dropdown' -%}</div>
      {%- if offer.coordinates and offer.coordinates != '' -%}
      <div class="col-auto pr-0">
        <a class="marker" data-coord="{{ offer.coordinates }}" data-toggle="modal" data-target="#reMap" href="#reMap" aria-haspopup="true" aria-expanded="false" aria-label="{%- if offer.rent == 1 -%}{{ site.data.lang-uk.re_object_rent }}{%- else -%}{{ site.data.lang-uk.re_object_sell }}{%- endif -%} {{ site.data.lang-uk.re_on_map }}">
          <span class="sr-only">{{ site.data.lang-uk.re_map }}:</span>
          <span class="d-block h-100 w-100" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{ offer.type }} {{ site.data.lang-uk.re_on_map }}"></span>
        </a>
      </div>
      {%- endif -%}
      <div class="col-auto">
        <a class="navbar-toggler align-middle d-inline-block border-0 shadow-none collapsed" href="#more-about-property-0{{ offer.id }}{{ offer.phone }}{{ include.aid }}" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="more-about-property-0{{ offer.id }}{{ offer.phone }}{{ include.aid }}">
          <span class="sr-only">{{ site.data.lang-uk.re_description }}:</span>
          <span class="d-block h-100 w-100" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{ site.data.lang-uk.re_more }}">
            <span class="navbar-toggler-icon"></span>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="collapse multi-collapse more mt-0 collapse{{ offer.id }}{{ offer.phone }}{{ include.aid }}" id="more-about-property-0{{ offer.id }}{{ offer.phone }}{{ include.aid }}">
    <hr class="mt-0 mx-3">
    <dl class="mx-3 mb-2">
      {%- include card/additionally.html -%}
      <dd class="mb-0 text-right">
        {%- if isImage != '' -%}
        <a class="card-link" data-toggle="collapse" href="#photo-property-1{{ offer.id }}{{ offer.phone }}{{ include.aid }}" role="button" aria-expanded="false" aria-controls="photo-property-1{{ offer.id }}{{ offer.phone }}{{ include.aid }}">
          {{ site.data.lang-uk.re_images }}
        </a>
        {%- endif -%}
        <a class="card-link" data-toggle="collapse" data-target=".collapse{{ offer.id }}{{ offer.phone }}{{ include.aid }}" href="#close" role="button" aria-expanded="false" aria-controls="more-about-property-0{{ offer.id }}{{ offer.phone }}{{ include.aid }}{% if isImage != '' %} photo-property-1{{ offer.id }}{{ offer.phone }}{{ include.aid }}{% endif %}">
          {{ site.data.lang-uk.re_collapse }}
        </a>
      </dd>
    </dl>
    {%- if isImage != "" -%}{%- include card/images.html -%}{%- endif -%}
  </div>
</article>
