<div class="row">
  {%- assign ones = site.pages | sort: 'path' | reverse -%}
  {%- for one in ones -%}
    {%- assign slug = one.url | split: "/" | last -%}
    {%- assign current = one.url | remove: slug | remove: "//" | append: "/" -%}
    {%- if "/" == current and one.url contains include.current and one.navhide != 1 -%}
      {%- if one.url contains "/region/" -%}

{% comment %}
        <div class="col-12">
          <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="card-text">...</div>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="card-text">...</div>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="card-text">...</div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endcomment %}

      {%- else -%}
        <div class="col-12">
          <h1 class="mb-4">
            {% if one.url contains "/region/" %}{{ site.data.uk.deck_region }} {% endif %}
            {%- if one.url contains "/region/" -%}
              {%- if one.navtitle -%}{{ one.navtitle | downcase }}{%- else -%}{{ one.title | downcase }}{%- endif -%}
            {%- else -%}
              {%- if one.navtitle -%}{{ one.navtitle }}{%- else -%}{{ one.title }}{%- endif -%}
            {%- endif -%}
            {% if one.url contains "/district/" %} {{ site.data.uk.deck_region_in }} області{% endif %}
          </h1>
        </div>
        <div class="col-12">{%- include home/region.html current=one.url -%}</div>
      {%- endif -%}
      {%- if one.url -%}
        {%- assign twos = site.pages -%}
        {%- for two in twos -%}
          {%- if two -%}
            {%- assign slug = two.url | split: "/" | last -%}
            {%- assign current = two.url | remove: slug | remove: "//" | append: "/" -%}
            {%- if one.url == current and two.url contains "city" or two.url contains "town" -%}
            <div class="col-12">
              <h2 class="mb-4">
                <a href="{{ two.url }}">
                  {%- if two.navtitle -%}{{ two.navtitle }}{%- else -%}{{ two.title }}{%- endif -%}
                </a>
                {% if two.url contains "/region/city/" or two.url contains "/district/town/" %} {{ site.data.uk.deck_region_in }} області{% endif %}
              </h2>
            </div>
            <div class="col-12">{%- include home/region.html current=two.url -%}</div>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
</div>
