<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card bg-transparent border-0">
      <div class="card-header"><strong>Зразок #1</strong></div>
      <div class="card-body text-white bg-dark">
        <p class="card-text">
          Прод.Кварт., 50м, кім.2, пов.3, п-хів.6, м.І-Франківськ, вул.Незалежності, б.30, $18000, Іван.Петро.Петренко
        </p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card bg-transparent border-0">
      <div class="card-header"><strong>Зразок #2</strong></div>
      <div class="card-body text-white bg-dark">
        <p class="card-text">
          Прод.Буд., 100м, кім.3, пов.2, м.Калуш, вул.Франка, б.10, $14000, Тар.Гри.Шевченко
        </p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card bg-transparent border-0">
      <div class="card-header"><strong>Зразок #3</strong></div>
      <div class="card-body text-white bg-dark">
        <p class="card-text">
          Здаю.Кварт., 45м, кім.1, пов.4, п-хів.8, м.Коломия, вул.Шевченка, б.20, €18000, Іван.Петро.Петренко
        </p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card bg-transparent border-0">
      <div class="card-header"><strong>Зразок #4</strong></div>
      <div class="card-body text-white bg-dark">
        <p class="card-text">
          Здаю.Буд., 150м, кім.6, п-хів.2, вул.Привітна, б.40, с.Яблуниця, Верховинського.р-н, €400, Степ.Бандера
        </p>
      </div>
    </div>
  </div>
</div>
