{%- assign folder = include.dir -%}
{%- assign slug = include.slug -%}
{%- assign files = site.static_files | where_exp: 'i', "i.path contains folder and i.basename contains slug and i.extname == '.png' or i.extname == '.PNG' or i.extname == '.jpg' or i.extname == '.JPG' or i.extname == '.jpeg' or i.extname == '.JPEG'" -%}
{%- for file in files -%}
  {%- if folder contains '/logo/' -%}
    {%- assign picture = folder | append: slug | append: file.extname | relative_url -%}
  {%- elsif folder contains '/locations/' -%}
    {%- assign picture = slug | prepend: folder | append: file.extname | relative_url -%}
  {%- else -%}
    {%- assign picture = file.path | relative_url -%}
  {%- endif -%}
{%- endfor -%}
{%- include static-file.html file=picture -%}
