<footer id="contacts">
    <div class="container border-top-4 border-primary">
        {%- if pageu != '/' -%}
            <div class="row pt-4">
                <div class="col-12">
                    <div class="d-flex justify-content-end">
                        <div class="h5 mb-0">
                            {%- if pageu contains '/help.html' -%}{%- else -%}<a href="/help" class="badge badge-success mr-2">{{ site.data.uk.help }}</a>{%- endif -%}
                            <a id="mapsite" class="badge badge-secondary collapsed" data-toggle="collapse" href="#websitemap" role="button" aria-expanded="false" aria-controls="websitemap" data-target=".website-map">{{ site.data.uk.map_site }}</a>
                        </div>
                    </div>
                    <div class="collapse multi-collapse website-map" id="websitemap">{%- include map/0.html -%}</div>
                </div>
            </div>
        {%- endif -%}
        <div class="row justify-content-md-center mt-4">
            <div class="col-md-6 col-lg-5">
                <div class="d-flex position-relative">
                    <a href="/ukraine" class="text-decoration-none border-0" aria-label="{{ site.data.uk.ua }}">
                        {%- include icons/trezub.svg width="27" height="45" class="flex-shrink-0 mr-3" -%}
                    </a>
                    <address>
                        <strong class="h5">{{ fname }}</strong><br>
                        {%- include footer/contact.html legal="address" -%}
                    </address>
                </div>
            </div>
            <div class="col-md-6 col-lg-7">
                <div class="row">
                    <div class="col-lg-5">
                        {%- include social-media.html twitter=1 facebook=1 skype=1 whatsapp=1 viber=1 telegram=1 messenger=1 website=1 email=1 instagram=1 -%}
                    </div>
                    <div class="col-lg-7 mb-3">
                        <div class="row">
                            <div class="col-md-6 pr-md-0 text-md-right">
                                <p class="h6 mt-1">{{ site.data.uk.phone_submit_ads }}:</p>
                            </div>
                            <div class="col-md-6">
                                {%- include phone-brand.html n=site.contact.phone_submit_ads -%}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-md-0 text-md-right">
                                <p class="h6 mt-1">{{ site.data.uk.phone_sevices }}:</p>
                            </div>
                            <div class="col-md-6">
                                {%- include phone-brand.html n=site.contact.phone_buy_sell -%}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-md-0 text-md-right">
                                <p class="h6 mt-1">{{ site.data.uk.phone_advert }}:</p>
                            </div>
                            <div class="col-md-6">
                                {%- include phone-brand.html n=site.contact.phone_advert -%}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-md-0 text-md-right">
                                <p class="h6 mt-1">{{ site.data.uk.email }}:</p>
                            </div>
                            <div class="col-md-6">
                                {%- include footer/contact.html legal="email" -%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-4 mb-4">
        <div class="row">
            <div class="col-lg-5">
                <div class="d-flex position-relative">
                    {%- include icons/beta.svg width="50" height="25" class="flex-shrink-0 mt-1 mr-3" -%}
                    <p>{{ site.data.uk.footer_text_trial }} <a href="mailto:{{ site.author.email }}" rel="nofollow">{{ site.author.email }}</a></p>
                </div>
                <div class="d-flex position-relative">
                    {%- include icons/dev.svg width="50" height="50" class="flex-shrink-0 mt-1 mr-3 text-white" -%}
                    <p><a href="{{ site.developer.website }}" target="_blank" rel="nofollow">{{ site.developer.name }}</a> {{ site.data.uk.footer_developer }}</p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="d-flex position-relative">
                    {%- include icons/cc.svg width="50" height="50" class="flex-shrink-0 mt-1 mr-3" -%}
                    <p>{{ site.data.uk.footer_text_cc_1 }} <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/deed.uk" class="font-weight-bold" rel="nofollow">{{ site.data.uk.footer_text_cc_2 }}</a>, {{ site.data.uk.footer_text_cc_3 }}</p>
                </div>
            </div>
        </div>
        {% comment %}
            <div class="row">
                <div class="col-12">
                    <p class="small">Продам квартиру у новому заселеному будинку{% if location != '' and location contains 'ий' %} за адресою {{ location }} район {% else %} в місті {{ location }} {% endif %}та старий будинок в районі (світло, газ, криниця) з гаражем і великим садом біля цетральної дороги, чи здам не дорого окрему кімнату у квартирі, також здаю подобово перевірені готові квартири в цетрі міста{% if location != '' and location contains 'ий' %}{% else %} {{ location }}{% endif %}, ще продамо комерційну нерухомість, {% if location != '' and location contains 'ий' %} {{ location }} район {% else %}{% endif %}де біля нежитлового приміщення є земельна ділянка, власний гараж, багато квартир на вторимнному ринку нерухомості, житло від власника або у зданих новобудовах зі всіма комунікаціями від забудівельників за помірну ціну в гривнях.</p>
                </div>
            </div>
        {% endcomment %}
    </div>
</footer>