{%- include location.html -%}

{%- assign slash = back -%}

{%- capture tlocation -%}
  {%- if location and back.size > 4 and page.dir contains 'city' or page.dir contains 'town' -%}
    {% unless back.size < 4 or page.url contains 'all.html' %}
     · {{ site.data.lang-uk.city }} {{ location }}
    {% endunless %}
  {%- elsif back.size > 3 and page.dir contains 'district' and page.dir != '/district/town/' or back.size >= 4 and page.dir contains 'district' -%}
    {% unless back.size < 3 or page.url contains 'all.html' %}
      {% unless back.size == 4 and page.url contains '/district/town/' %}
       · {{ location }} {{ site.data.lang-uk.district }}
      {% endunless %}
    {% endunless %}
  {%- elsif page.url == '/district/town/' -%}
  {%- endif -%}
{%- endcapture -%}

{%- assign pic = page.url | split: '/' | last -%}
{%- include folder.html dir='/assets/images/locations/' slug=pic -%}
{%- include folder.html dir='/assets/images/logo/' slug=pic -%}

{%- capture title -%}
  {%- if page.title -%}
    {{ page.title | smartify }}{% if tlocation != '' %}{{ tlocation }}{% endif %} · {{ site.title | smartify }}
  {%- else -%}
    {{ site.title | smartify }}{% if tlocation != '' %}{{ tlocation }}{% endif %} · {{ site.name | smartify }}
  {%- endif -%}
{%- endcapture -%}

{%- include meta-name.html -%}

{%- if page.url contains 'map.html' and page.layout == 'map' -%}
  <link rel="preload" href="{{ "/assets/css/main.m.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
  <link rel="preload" href="{{ "/assets/js/main.m.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
  <link href="{{ "/assets/css/main.m.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
{%- elsif page.lightbox == 1 -%}
  <link rel="preload" href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
  <link rel="preload" href="{{ "/assets/js/main.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
  <link href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
{%- else -%}

  {%- assign main_region = site.region_slug | prepend: '/region/' | append: '/' -%}

  {%- if page.table == 1 or page.table == 2 -%}
    {%- if page.url contains 'map.html' -%}
    {%- elsif slash.size == 3 and page.dir == main_region -%}
      <link rel="preload" href="{{ "/assets/css/main.tl.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
    {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
      <link rel="preload" href="{{ "/assets/css/main.tl.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
    {%- else -%}
      <link rel="preload" href="{{ "/assets/css/main.t.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
    {%- endif -%}
  {%- else -%}
    {%- if page.url contains 'map.html' -%}
    {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
      <link rel="preload" href="{{ "/assets/css/main.l.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
    {%- elsif page.dir != '/laws/' or page.dir != '/docs/' -%}
      <link rel="preload" href="{{ "/assets/css/main.t.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
    {%- else -%}
      <link rel="preload" href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
    {%- endif -%}
  {%- endif -%}

  {%- if page.dir == '/' and page.url contains '/ukraine.html' -%}
    <link rel="preload" href="{{ "/assets/js/main.ua.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
  {%- elsif page.dir == '/' and page.url contains '/' -%}
    <link rel="preload" href="{{ "/assets/js/main.h.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
  {%- else -%}
    {%- if page.table == 1 -%}
      {%- if page.url contains 'map.html' -%}
      {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
        <link rel="preload" href="{{ "/assets/js/main.tl.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
      {%- else -%}
        <link rel="preload" href="{{ "/assets/js/main.t.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
      {%- endif -%}
    {%- elsif page.table == 2 -%}
      {%- assign preload_all_json = main_region | append: 'data/all.json' -%}
      {%- capture preload_alljson -%}{%- file_exists {{ preload_all_json }} -%}{%- endcapture -%}
      {%- if page.url contains 'map.html' -%}
      {%- elsif slash.size == 3 and page.dir == main_region -%}
        <link rel="preload" href="{{ "/assets/js/main.tml.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
        {%- if preload_alljson == 'true' -%}
        <link rel="preload" href="{{ preload_all_json | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="fetch">
        {%- endif -%}
      {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
        <link rel="preload" href="{{ "/assets/js/main.tml.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
        <meta name="{{ preload_alljson }}-0" content="{{ main_region }}">
      {%- else -%}
        <link rel="preload" href="{{ "/assets/js/main.tm.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
      {%- endif -%}
    {%- else -%}
      {%- if page.url contains 'map.html' -%}
      {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
        <link rel="preload" href="{{ "/assets/js/main.l.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
      {%- elsif page.dir != '/laws/' or page.dir != '/docs/' -%}
        <link rel="preload" href="{{ "/assets/js/main.t.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
      {%- else -%}
        <link rel="preload" href="{{ "/assets/js/main.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}

  {%- if page.table == 1 or page.table == 2 -%}
    {%- if page.url contains 'map.html' -%}
    {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
      <link href="{{ "/assets/css/main.tl.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
    {%- else -%}
      <link href="{{ "/assets/css/main.t.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
    {%- endif -%}
  {%- else -%}
    {%- if page.url contains 'map.html' -%}
    {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
      <link href="{{ "/assets/css/main.l.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
    {%- elsif page.dir != '/laws/' or page.dir != '/docs/' -%}
      <link href="{{ "/assets/css/main.t.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
    {%- else -%}
      <link href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
    {%- endif -%}
  {%- endif -%}

{%- endif -%}

{%- include analytics-google.html -%}
