{%- include location.html -%}

{%- capture tlocation -%}
  {%- if location and slashd.size > 4 and paged contains '/city/' or paged contains '/town/' -%}
    {% unless slashd.size < 4 or pageu contains '/all.html' %}
     · {{ site.data.uk.city }} {{ location }}
    {% endunless %}
  {%- elsif slashd.size > 3 and paged contains '/district/' and paged != '/district/town/' or slashd.size >= 4 and paged contains '/district/' -%}
    {% unless slashd.size < 3 or pageu contains '/all.html' %}
      {% unless slashd.size == 4 and pageu contains '/district/town/' %}
       · {{ location }} {{ site.data.uk.district }}
      {% endunless %}
    {% endunless %}
  {%- elsif pageu == '/district/town/' -%}
  {%- endif -%}
{%- endcapture -%}

{%- assign pic = pageu | split: '/' | last -%}
{%- include folder.html dir='/assets/images/locations/' slug=pic -%}
{%- include folder.html dir='/assets/images/logo/' slug=pic -%}

{% if slashd.size == 0 and pageu != '/' %}
  {%- assign end_title = site.title | prepend: ' · ' -%}
{% elsif slashd.size == 4 or slashd.size == 5 %}
  {%- assign end_title = page.title_seo | default: site.title | prepend: ' · ' -%}
{% elsif slashd.size == 2 or slashd.size == 3 %}
  {% unless paged contains site.region_slug or paged == '/region/' or paged == '/news/' or paged == '/docs/' or paged == '/articles/' or paged == '/laws/' %}
    {%- assign end_title = site.region | prepend: ' · ' -%}
  {% else %}
    {%- assign end_title = site.title | prepend: ' · ' -%}
  {% endunless %}
{% endif %}

{%- capture title -%}
  {%- if page.title -%}
    {{ page.title | smartify }}{% if tlocation != '' %}{{ tlocation }}{% endif %}{{ end_title }}
  {%- else -%}
    {{ site.title | smartify }}{% if tlocation != '' %}{{ tlocation }}{% endif %} · {{ site.name }}
  {%- endif -%}
{%- endcapture -%}

{%- include meta-name.html -%}
<link rel="preconnect" href="//fonts.gstatic.com">

{%- if pageu contains '/map.html' and page.layout == 'map' -%}
  <link rel="preload" href="{{ "/assets/css/main.m.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
  <link rel="preload" href="{{ "/assets/js/main.m.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
  <link href="{{ "/assets/css/main.m.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
{%- elsif page.lightbox == 1 -%}
  <link rel="preload" href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
  <link rel="preload" href="{{ "/assets/js/main.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
  <link href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
{%- else -%}

  {%- assign main_region = site.region_slug | prepend: '/region/' | append: '/' -%}

  {%- if page.table == 1 or page.table == 2 -%}
    {%- if pageu contains '/map.html' -%}
    {%- elsif slashd.size == 3 and paged == main_region -%}
      <link rel="preload" href="{{ "/assets/css/main.tl.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
    {%- elsif slashd.size >= 3 and paged != '/region/city/' and paged != '/district/town/'-%}
      <link rel="preload" href="{{ "/assets/css/main.tl.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
    {%- else -%}
      <link rel="preload" href="{{ "/assets/css/main.t.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
    {%- endif -%}
  {%- else -%}
    {%- if pageu contains '/map.html' -%}
    {%- elsif page.layout == 'property'-%}
      <link rel="preload" href="{{ "/assets/css/main.l.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
    {%- elsif slashd.size >= 3 and paged != '/region/city/' and paged != '/district/town/'-%}
      <link rel="preload" href="{{ "/assets/css/main.l.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
    {%- elsif paged != '/laws/' or paged != '/docs/' -%}
      <link rel="preload" href="{{ "/assets/css/main.t.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
    {%- else -%}
      <link rel="preload" href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
    {%- endif -%}
  {%- endif -%}

  {%- if paged == '/' and pageu contains '/ukraine.html' -%}
    <link rel="preload" href="{{ "/assets/js/main.ua.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
  {%- elsif paged == '/' and pageu contains '/' -%}
    <link rel="preload" href="{{ "/assets/js/main.h.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
  {%- else -%}
    {%- if page.table == 1 -%}
      {%- if pageu contains '/map.html' -%}
      {%- elsif slashd.size >= 3 and paged != '/region/city/' and paged != '/district/town/'-%}
        <link rel="preload" href="{{ "/assets/js/main.tl.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
      {%- else -%}
        <link rel="preload" href="{{ "/assets/js/main.t.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
      {%- endif -%}
    {%- elsif page.table == 2 -%}
      {%- comment -%}
        {%- assign preload_all_json = main_region | append: 'data/all.json' -%}
        {%- capture preload_alljson -%}{%- file_exists {{ preload_all_json }} -%}{%- endcapture -%}
      {%- endcomment -%}
      {%- if pageu contains '/map.html' -%}
      {%- elsif slashd.size == 3 and paged == main_region -%}
        <link rel="preload" href="{{ "/assets/js/main.tml.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
        {%- comment -%}
          {%- if preload_alljson == 'true' -%}
          <link rel="preload" href="{{ preload_all_json | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="fetch" crossorigin="anonymous">
          {%- endif -%}
        {%- endcomment -%}
      {%- elsif slashd.size >= 3 and paged != '/region/city/' and paged != '/district/town/'-%}
        <link rel="preload" href="{{ "/assets/js/main.tml.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
        <meta name="{{ preload_alljson }}-0" content="{{ main_region }}">
      {%- else -%}
        <link rel="preload" href="{{ "/assets/js/main.tm.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
      {%- endif -%}
    {%- else -%}
      {%- if pageu contains '/map.html' -%}
      {%- elsif page.layout == 'property'-%}
        <link rel="preload" href="{{ "/assets/js/main.l.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
      {%- elsif slashd.size >= 3 and paged != '/region/city/' and paged != '/district/town/'-%}
        <link rel="preload" href="{{ "/assets/js/main.l.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
      {%- elsif paged != '/laws/' or paged != '/docs/' -%}
        <link rel="preload" href="{{ "/assets/js/main.t.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
      {%- else -%}
        <link rel="preload" href="{{ "/assets/js/main.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}

  {%- if page.table == 1 or page.table == 2 -%}
    {%- if pageu contains '/map.html' -%}
    {%- elsif slashd.size >= 3 and paged != '/region/city/' and paged != '/district/town/'-%}
      <link href="{{ "/assets/css/main.tl.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
    {%- else -%}
      <link href="{{ "/assets/css/main.t.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
    {%- endif -%}
  {%- else -%}
    {%- if pageu contains '/map.html' -%}
    {%- elsif page.layout == 'property' -%}
      <link href="{{ "/assets/css/main.l.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
    {%- elsif slashd.size >= 3 and paged != '/region/city/' and paged != '/district/town/'-%}
      <link href="{{ "/assets/css/main.l.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
    {%- elsif paged != '/laws/' or paged != '/docs/' -%}
      <link href="{{ "/assets/css/main.t.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
    {%- else -%}
      <link href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
    {%- endif -%}
  {%- endif -%}

{%- endif -%}

{%- include analytics-google.html -%}
