{%- assign slash = page.dir | split: '/' -%}

{%- if page.url contains '/add.html' -%}
  <!-- <script src="{{ "/assets/js/main.re.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script> -->
{%- endif -%}

{%- if page.dir == '/' and page.url contains '/ukraine.html' -%}
  <script src="{{ "/assets/js/main.ua.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
{%- elsif page.dir == '/' and page.url contains '/' -%}
  {%- if page.lightbox == 1 -%}
    <script src="{{ "/assets/js/main.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
  {%- else -%}
    <script src="{{ "/assets/js/main.h.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
  {%- endif -%}
{%- else -%}
  {%- if page.table == 1 -%}
    {%- if page.url contains 'map_.html' -%}
    {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
      <script src="{{ "/assets/js/main.tl.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
    {%- else -%}
      <script src="{{ "/assets/js/main.t.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
    {%- endif -%}
  {%- elsif page.table == 2 -%}
    {%- if page.url contains 'map_.html' -%}
    {%- assign main_region = region_slug | prepend: '/region/' | append: '/' -%}
    {%- elsif slash.size == 3 and page.dir == main_region -%}
      <script src="{{ "/assets/js/main.tml.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
    {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
      <script src="{{ "/assets/js/main.tml.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
    {%- else -%}
      <script src="{{ "/assets/js/main.tm.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
    {%- endif -%}
  {%- else -%}
    {%- if page.url contains 'map_.html' -%}
    {%- elsif page.url contains 'map.html' -%}
      <script src="{{ "/assets/js/main.m.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
    {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
      <script src="{{ "/assets/js/main.l.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
    {%- elsif page.dir != '/laws/' or page.dir != '/docs/' -%}
      <script src="{{ "/assets/js/main.t.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
    {%- else -%}
      <script src="{{ "/assets/js/main.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
    {%- endif -%}
  {%- endif -%}
{%- endif -%}
