{%- assign pd = page.dir -%}
{%- if pd contains '/city/' or pd contains '/town/' -%}{%- assign ct = true -%}{%- else -%}{%- assign ct = false -%}{%- endif -%}
{%- if pd contains '/district/' -%}{%- assign dt = true -%}{%- else -%}{%- assign cd = false -%}{%- endif -%}
{%- assign sl = pd | split: '/' -%}
{%- if sl.size == 4 and ct == true -%}
  {%- assign sls = sl | size | minus: 0 -%}
{%- elsif sl.size == 5 and ct == true -%}
  {%- assign sls = sl | size | minus: 1 -%}
{%- elsif sl.size == 6 and ct == true -%}
  {%- assign sls = sl | size | minus: 2 -%}
{%- elsif sl.size == 7 and ct == true -%}
  {%- assign sls = sl | size | minus: 3 -%}
{%- elsif sl.size == 8 and ct == true -%}
  {%- assign sls = sl | size | minus: 4 -%}
{%- elsif sl.size == 3 and dt == true -%}
  {%- assign sls = sl | size -%}
{%- elsif sl.size == 3 -%}
  {%- assign sls = sl | size -%}
{%- elsif sl.size == 4 -%}
  {%- assign sls = sl | size | minus: 1 -%}
{%- elsif sl.size == 4 and dt == true -%}
  {%- assign sls = sl | size | minus: 1 -%}
{%- elsif sl.size == 5 and dt == true -%}
  {%- assign sls = sl | size | minus: 2 -%}
{%- endif -%}
{%- assign ld = sl | slice: 0, sls | join: '/' | append: '/' -%}
{%- assign lps = site.pages | sort: 'dir' | where_exp: 'i', 'i.url contains ld and i.url == ld' -%}
{%- for lpb in lps limit: 1 -%}
  {%- if lpb.breadcrumb -%}
    {%- assign location = lpb.breadcrumb -%}
  {%- else -%}
    {%- assign location = lpb.navtitle -%}
  {%- endif -%}
{%- endfor -%}
