{%- assign back = page.dir | split: '/' -%}
{%- if back.size == 4 and page.dir contains 'city' or page.dir contains 'town' -%}
  {%- assign size = back | size | minus: 0 -%}
{%- elsif back.size == 5 and page.dir contains 'city' or page.dir contains 'town' -%}
  {%- assign size = back | size | minus: 1 -%}
{%- elsif back.size == 6 and page.dir contains 'city' or page.dir contains 'town' -%}
  {%- assign size = back | size | minus: 2 -%}
{%- elsif back.size == 7 and page.dir contains 'city' or page.dir contains 'town' -%}
  {%- assign size = back | size | minus: 3 -%}
{%- elsif back.size == 8 and page.dir contains 'city' or page.dir contains 'town' -%}
  {%- assign size = back | size | minus: 4 -%}
{%- elsif back.size == 3 and page.dir contains 'district' -%}
  {%- assign size = back | size -%}
{%- elsif back.size == 3 -%}
  {%- assign size = back | size -%}
{%- elsif back.size == 4 -%}
  {%- assign size = back | size | minus: 1 -%}
{%- elsif back.size == 4 and page.dir contains 'district' -%}
  {%- assign size = back | size | minus: 1 -%}
{%- elsif back.size == 5 and page.dir contains 'district' -%}
  {%- assign size = back | size | minus: 2 -%}
{%- endif -%}
{%- assign dir = back | slice: 0, size | join: '/' | append: '/' -%}
{%- assign ps = site.pages | sort: 'dir' | where_exp: 'i', 'i.url contains dir and i.url == dir' -%}
{%- for pb in ps limit:1 -%}{%- if pb.breadcrumb -%}{%- assign location = pb.breadcrumb -%}{%- else -%}{%- assign location = pb.navtitle -%}{%- endif -%}{%- endfor -%}
