{%- assign back = page.dir | split: '/' -%}

{%- if page.url contains '/map.html' -%}
  {%- assign size = back | size | minus: 0 -%}
{%- else -%}
  {%- assign size = back | size | minus: 1 -%}
{%- endif -%}

{%- assign here = back | slice: 0, size | join: '/' | append: '/' -%}
{%- assign ones = site.pages | sort: 'dir' | reverse -%}

{%- if include.style == "card" -%}

  {%- assign thehere = page.dir | split: '/' | last -%}
  {% assign number = 0 %}

  {%- for one in ones -%}
    {%- assign isJson = false -%}
    {%- if one.url contains '.json' -%}{%- assign isJson = true -%}{%- endif -%}
    {%- assign slug = one.url | split: '/' | last -%}
    {%- assign current = one.url | remove: slug | remove: '//' | append: '/' -%}
    {%- if one.title != '' and isJson == false -%}
      {%- include card-item.html -%}
    {%- endif -%}
  {%- endfor -%}

  <div class="col px-2 mb-3">
    <div class="card h-100 bg-9">
      <div class="card-body">
        <h3 class="card-title h5">
          <a href="{{ page.dir }}map.html">{{ page.title }} на мапі</a>
        </h3>
      </div>
      <div class="card-footer bg-transparent border-top-0 text-right px-2">
        <span class="badge text-white p-0 m-1">
          <span class="bg-info py-1 px-2 rounded-left">{{ offers | size }}</span><span class="py-1 px-2 bg-primary rounded-right">пропозицій</span>
        </span>
      </div>
    </div>
  </div>

{%- else -%}

  {%- if page.url contains '/all.html' -%}
  {%- else -%}

    <nav class="navbar navbar-expand-lg navbar-light bg-white p-0">
      <div class="navbar-brand d-lg-none">
        <span class="small">{{ site.data.lang-uk.brand_content }}</span>
        <span class="ml-1 float-right align-middle text-primary">→</span>
      </div>
      <button class="navbar-toggler ml-1 shadow-none collapsed" type="button" data-toggle="collapse" data-target="#navbarThreeRealEstate" aria-controls="navbarThreeRealEstate" aria-expanded="false" aria-label="Toggle button">
        <span class="navbar-toggler-icon" aria-hidden="true"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarThreeRealEstate">
        {%- assign mapPage = page.dir | append: 'map.html' | remove_first: '/' -%}
        {%- capture isMap -%}{%- file_exists {{ mapPage }} -%}{%- endcapture -%}
        {%- if isMap == 'true' and page.url contains '/all.html' -%}

          <ul class="navbar-nav nav nav-tabs border-0 mr-md-auto" id="realestate-map">
            <li class="nav-item mb-2 h5">
              <p class="m-lg-0">
                {%- if page.url contains mapPage -%}
                  <span class="badge badge-primary border-0" title="{{ site.data.lang-uk.re_map_on }}">
                    <span>{{ site.data.lang-uk.re_map }}</span>
                    <span class="d-lg-none">{{ site.data.lang-uk.nerukhomisti }}</span>
                  </span>
                {%- else -%}
                  <a class="badge badge-primary border-0" href="/{{ mapPage }}" title="{{ site.data.lang-uk.re_map_on }}">
                    <span>{{ site.data.lang-uk.re_map }}</span>
                    <span class="d-lg-none">{{ site.data.lang-uk.nerukhomisti }}</span>
                  </a>
                {%- endif -%}
              </p>
            </li>
          </ul>

        {%- else -%}
          {%- assign mapPage = here | append: 'map.html' | remove_first: '/' -%}

          <ul class="navbar-nav nav nav-tabs border-0 mr-md-auto" id="realestate-map">
            <li class="nav-item mb-2">
              <p class="m-lg-0 h5">
                {%- if page.url contains mapPage -%}
                  <span class="badge badge-primary border-0" title="{{ site.data.lang-uk.re_map_on }}">
                    <span>{{ site.data.lang-uk.re_map }}</span>
                    <span class="d-lg-none">{{ site.data.lang-uk.nerukhomisti }}</span>
                  </span>
                {%- else -%}
                  <a class="badge badge-primary border-0" href="/{{ mapPage }}" title="{{ site.data.lang-uk.re_map_on }}">
                    <span>{{ site.data.lang-uk.re_map }}</span>
                    <span class="d-lg-none">{{ site.data.lang-uk.nerukhomisti }}</span>
                  </a>
                {%- endif -%}
              </p>
            </li>
          </ul>

        {%- endif -%}

          <ul class="navbar-nav nav nav-tabs border-0" id="realestate-nav">

            {%- for one in ones -%}
              {%- assign isJson = false -%}
              {%- if one.url contains '.json' -%}{%- assign isJson = true -%}{%- endif -%}
              {%- assign slug = one.url | split: '/' | last -%}
              {%- assign current = one.url | remove: slug | remove: '//' | append: '/' -%}
              {%- if one.title != '' and isJson == false -%}
                {%- include nav-item.html -%}
              {%- endif -%}
            {%- endfor -%}

            {%- assign mapRegion = site.region_slug | append: '/map.html' -%}
            {%- if page.url contains mapRegion -%}
            <li class="nav-item" role="presentation">
              <a class="nav-link border-0" href="{{ page.url | replace: 'map', 'index' }}">
                <span>Весь список</span>
              </a>
            </li>
            {%- endif -%}

          </ul>

      </div>
    </nav>

  {%- endif -%}

  <hr class="mb-2 mt-2 mt-md-0 mt-lg-0" style="position:relative;">
  {%- include thanks-please.html -%}

{%- endif -%}
