{%- assign iurl = include.url -%}
{%- assign iregion = include.region -%}
{%- assign ss = '' | split:'' -%}
{%- assign ps = site.pages | sort: 'dir' | reverse | where_exp: 'i', "i.dir != iurl and i.url contains iurl and i.navhide != 1"-%}
{%- for i in ps -%}
  {%- assign il = i.dir | split: '/' -%}
  {%- if il.size == 4 or il.size == 5 -%}
    {%- assign ss = ss | push: i -%}
  {%- endif -%}
{%- endfor -%}
{%- if ss[0] -%}
<div class="menu pt-1">
  <nav class="navbar p-0">
    <button title="{{ site.data.uk.sections }}" class="navbar-toggler shadow-none collapsed" type="button" data-toggle="collapse" data-target="#{{ iregion }}-re-section" aria-controls="{{ iregion }}-re-section" aria-expanded="false" aria-label="Кнопка перемикання">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="section border-top-1 px-2 collapse navbar-collapse" id="{{ iregion }}-re-section">
      <ul class="navbar-nav">
        {%- for s in ss -%}
          {%- assign sslug = s.dir | split: '/' | last -%}
          {%- include home/navitem.html -%}
        {%- endfor -%}
      </ul>
    </div>
  </nav>
</div>
{%- endif -%}