<a href="{{ site.addre }}" class="alert-link">{{ site.data.uk.phone_add_ads }}</a> {{ site.data.uk.re_pro }} {% case slug %}
{% when 'apartment'%}{{ include.title | replace_first: 'Оголошення про нерухомість', 'продаж квартири' }}
{% when 'house' %}{{ include.title | replace_first: 'Оголошення про нерухомість', 'продаж будинку' }}
{% when 'land' %}{{ include.title | replace_first: 'Оголошення про нерухомість', 'продаж землі' }}
{% else %}{{ include.title | replace_first: 'Оголошення про', '' | replace_first: 'Н', 'н' }}{% endcase %}.
