{%- if page.layout == 'property' -%}
  {%- assign type = page.type | strip -%}
  {%- assign rent = page.rent | strip -%}
  {%- assign price_base = page.price | strip -%}
  {%- assign price_sqmt = page.price_sqmt | strip -%}
{%- else -%}
  {%- assign type = offer.type | strip -%}
  {%- assign rent = offer.rent | strip -%}
  {%- assign price_base = offer.price | strip -%}
  {%- assign price_sqmt = offer.price_sqmt | strip -%}
{%- endif -%}
{%- if rent == '1' and price_base != '' and price_sqmt == '' -%}
    {%- if type contains 'Квартира' -%}
        {%- assign ads_sample = 'Передається в оренду на довготривалий період квартира,Квартира в оренду на довготривалий період,Довготривала оренда квартири,Оренда квартири,Надаю квартиру в оренду,Передаю в оренду квартиру,Надаю в оренду квартиру,Передається для оренди квартира' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- elsif type contains 'Частина квартири' -%}
        {%- assign ads_sample = 'Передається в оренду на довготривалий період частина квартири,Частина квартири в оренду на довготривалий період,Довготривала оренда частини квартири,Оренда частини квартири,Надаю частину квартири в оренду,Передаю в оренду частину квартири,Надаю в оренду частину квартири,Передається для оренди частина квартира' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- elsif type contains 'Кімната' -%}
        {%- assign ads_sample = 'Передається в оренду на довготривалий період кімната,Довготривала оренда кімнати,Оренда кімнати,Надаю кімнату в оренду,Передаю в оренду кімнату,Надаю в оренду кімнату,Передається для оренди кімната' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- elsif type contains 'Будинок' -%}
        {%- assign ads_sample = 'Передається в оренду на довготривалий період будинок,Будинок в оренду на довготривалий період,Довготривала оренда будинку,Оренда будинку,Надаю будинок в оренду,Передаю в оренду будинок,Надаю в оренду будинок,Передається для оренди будинок' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- elsif type contains 'Частина будинку' -%}
        {%- assign ads_sample = 'Передається в оренду на довготривалий період частина будинку,Частина будинку в оренду на довготривалий період,Довготривала оренда частини будинку,Оренда частини будинку,Надаю частину будинку в оренду,Передаю в оренду частину будинку,Надаю в оренду частину будинку,Передається для оренди частина будинку' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- elsif type contains 'приміщення' -%}
        {%- assign ads_sample = 'Передається в оренду на довготривалий період нежитлове приміщення,Передаю в оренду нежитлове приміщення,Оренда нежитлового приміщення,Передається комерційне приміщення в оренду,Надаю в оренду нежитлове приміщення,Передається нежитлове приміщення в оренду,Нежитлове приміщення в оренду на довготривалий період,Передається в оренду нежитлове приміщення,Довготривала оренда нежитлового приміщення' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- elsif type contains 'Земля' -%}
        {%- assign ads_sample = 'Передається в оренду земля,Оренда землі,Земля в оренду,Передається в оренду земельна ділянка,Земельна ділянка в оренду,Оренда земельної ділянки' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- else -%}
        {% capture start_ads %}Передається в оренду на довготривалий період {{ type | downcase }}{% endcapture %}
    {%- endif -%}
{%- elsif rent == '1' and price_base == '' and price_sqmt != '' -%}
    {%- if type contains 'Квартира' -%}
        {%- assign ads_sample = 'Передається в оренду на короткотривалий період квартира,Квартира в оренду подобово,Подобова оренда квартири,Здаю подобово в оренду квартиру,Надаю квартиру в оренду подобово,Передаю в оренду квартиру подобово,Здаю квартиру подобово в оренду,Надаю в оренду квартиру подобово,Здається подобово квартира' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- elsif type contains 'Частина квартири' -%}
        {%- assign ads_sample = 'Передається в оренду на короткотривалий період частина квартири,Частина квартири в оренду подобово,Подобова оренда частини квартири,Здаю подобово в оренду частину квартири,Надаю частину квартири в оренду подобово,Передаю в оренду частину квартири подобово,Здаю частину квартири подобово в оренду,Надаю в оренду частину квартири подобово,Здається подобово частина квартири' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- elsif type contains 'Кімната' -%}
        {%- assign ads_sample = 'Передається в оренду на короткотривалий період кімната,Кімната в оренду подобово,Подобова оренда кімнати,Здаю подобово в оренду кімнату,Надаю кімнату в оренду подобово,Передаю в оренду кімнату подобово,Здаю кімнату подобово в оренду,Надаю в оренду кімнату подобово,Здається подобово кімната' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- elsif type contains 'Будинок' -%}
        {%- assign ads_sample = 'Передається в оренду на короткотривалий період будинок,Будинок в оренду подобово,Подобова оренда будинку,Здаю подобово в оренду будинок,Надаю будинок в оренду подобово,Передаю в оренду будинок подобово,Здаю будинок подобово в оренду,Надаю в оренду будинок подобово,Здається подобово будинок' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- elsif type contains 'Частина будинку' -%}
        {%- assign ads_sample = 'Передається в оренду на короткотривалий період частина будинку,Частина будинку в оренду подобово,Подобова оренда частини будинку,Здаю подобово в оренду частину будинку,Надаю частину будинку в оренду подобово,Передаю в оренду частину будинку подобово,Здаю частину будинку подобово в оренду,Надаю в оренду частину будинку подобово,Здається подобово частина будинку' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- elsif type contains 'приміщення' -%}
        {%- assign ads_sample = 'Передається в оренду на короткотривалий період нежитлове приміщення,Оренда нежитлового приміщення подобово,Нежитлове приміщення в оренду подобово,Подобова оренда нежитлового приміщення,Надаю в оренду нежитлове приміщення,Здаю в оренду нежитлове приміщення,Передаю в оренду нежитлове приміщення,Здається в оренду нежитлове приміщення подобово' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- else -%}
        {% capture start_ads %}Передається в оренду на короткотривалий період {{ type | downcase }}{% endcapture %}
    {%- endif -%}
{%- else -%}
    {%- if type contains 'Квартира' -%}
        {%- assign ads_sample = 'Продаю квартиру,Продаж квартири,Продається квартира' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- elsif type contains 'Частина квартири' -%}
        {%- assign ads_sample = 'Продається частина квартири,Продаю частину квартири,Продаж частини квартири' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- elsif type contains 'Кімната' -%}
        {%- assign ads_sample = 'Продаю кімнату,Продається кімната,Продаж кімнати' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- elsif type contains 'Будинок' -%}
        {%- assign ads_sample = 'Продаю будинок,Продається будинок,Продаж будинку' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- elsif type contains 'Частина будинку' -%}
        {%- assign ads_sample = 'Продаю частину будинку,Продається частина будинку,Продаж частини будинку' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- elsif type contains 'приміщення' -%}
        {%- assign ads_sample = 'Продаю нежитлове приміщення,Продається нежитлове приміщення,Продаю комерційне приміщення,Продаж нежитлового приміщення,Продаж комерційного приміщення,Продаю нежитлове комерційне приміщення' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- elsif type contains 'Земля' -%}
        {%- assign ads_sample = 'Продаю земельну ділянку,Продаю ділянку землі,Продаю землю,Продається земля,Продається земельна ділянка' | split: ',' -%}
        {%- assign start_ads = ads_sample | sample -%}
    {%- else -%}
        {% capture start_ads %}Продається {{ type | downcase }}{% endcapture %}
    {%- endif -%}
{%- endif -%}
