<div class="row mb-1">
  <div class="col-12">
    <div class="d-flex justify-content-end">
      <h5 class="mb-0">
        <a class="badge badge-success mr-1" data-toggle="collapse" href="#thanks" role="button" aria-expanded="true" aria-controls="thanks" data-target=".thanks">Дякуємо!</a>
        <a class="badge badge-info mr-1" data-toggle="collapse" href="#please" role="button" aria-expanded="true" aria-controls="please" data-target=".please">Просимо!</a>
        <a class="badge badge-danger" data-toggle="collapse" href="#attention" role="button" aria-expanded="true" aria-controls="attention" data-target=".attention">Застерігаємо!</a>
      </h5>
    </div>
    <div class="multi-collapse thanks collapse" id="thanks">
      <div class="row mt-2">
        <div class="col-md-6 offset-md-3">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Заздалегідь дякуємо</strong> Вам <b>за рекомендації</b> всім кому потрібно <b>розмістити оголошення</b> про нерухомість на сторінці "<strong>{{ site.title }}</strong>" - {{ site.region }}. <u>Це&nbsp;безкоштовно</u>. <b>Дякуємо!</b>
            <a class="close" data-toggle="collapse" href="#thanks" aria-expanded="true" aria-controls="thanks" data-target=".thanks" title="{{ site.data.lang-uk.close }}">
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="multi-collapse please collapse" id="please">
      <div class="row mt-2">
        <div class="col-md-6 offset-md-3">
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>Будь ласка!</strong> <u>Повідомте продавцю чи орендодавцю, що знайшли оголошення</u> на сторінці "<strong>{{ site.title }}</strong>" - {{ site.region }}. <b>Дякуємо!</b>
            <a class="close" data-toggle="collapse" href="#please" aria-expanded="true" aria-controls="please" data-target=".please" title="{{ site.data.lang-uk.close }}">
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="multi-collapse attention collapse" id="attention">
      <div class="row mt-2">
        <div class="col-md-6 offset-md-3">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Увага!</strong> Ніколи не поспішайте. Перед тим, як віддати гроші за нерухомість, сім раз перевірте чи все гаразд з нерухомістю, яку вирішили купити чи орендувати.
            <a class="close" data-toggle="collapse" href="#attention" aria-expanded="true" aria-controls="attention" data-target=".attention" title="{{ site.data.lang-uk.close }}">
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
