
<meta name="twitter:site" content="@realestate_ua">
<meta name="twitter:creator" content="@realestate_ua">
<meta name="twitter:title" content="{{ title | remove: ' · Мережа Вебсайтів Нерухомості' }}">
<meta name="twitter:description" content="{{ page.description | default: site.description | smartify }}">
<meta name="twitter:card" content="summary_large_image">
{%- if file -%}
<meta name="twitter:image" content="{{ picture | replace_first: '.', '_sm.' | prepend: site.url }}">
{%- else -%}
  {%- if meta_image == 'true' -%}
  <meta name="twitter:image" content="{{ metaimage | url_decode | relative_url | prepend: site.url }}">
  {%- else -%}
  <meta name="twitter:image" content="{{ '/assets/images/locations/default_sm.jpg' | url_decode | relative_url | prepend: site.url }}">
  {%- endif -%}
{%- endif -%}
<meta name="twitter:image:width" content="600">
<meta name="twitter:image:height" content="315">
