{%- assign gauge = slash | size | plus:1 -%}
{%- assign dir = slash | slice: 0, gauge | join: "/" | append: '/' -%}
{%- assign pp = '' | split:'' -%}
{%- assign pages = site.pages | sort: 'dir' | reverse -%}
{%- for i in pages -%}
  {%- assign l = i.dir | split: '/' -%}
  {%- if i.url contains dir and i.url != dir and l.size == 8 -%}
    {%- assign pp = pp | push: i -%}
  {%- endif -%}
{%- endfor -%}
{%- assign ipp = site.pages | sort: "dir" | where_exp: "i", "i.url contains dir and i.url != dir" -%}
{%- assign index = ipp[0].dir | split: '/' | last -%}
