{%- assign 3s = site.html_pages | sort:"path" | where_exp: 'i', "i.url contains include.current or i.url != include.current" -%}
{%- if 3s.size > 0 -%}
  {%- for 3 in 3s -%}
    {%- assign slug = 3.url | split: "/" | last -%}
    {%- assign current = 3.url | remove: slug | remove: "//" | append: "/" -%}
    {%- if include.current == current and 3.navhide != 1 and 3.title != '' -%}
    <option value="{{ 3.url }}">
      {%- if second.navtitle contains "місто" -%}
        {{ 3.navtitle }} в {{ include.navtitle | replace_first: "місто", "місті" }}
      {%- else -%}
        {{ 3.navtitle }} в {{ include.navtitle | replace_first: "ий район", "ому районі" }}
      {%- endif -%}
    </option>
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
