{% capture title %}{%- if page.title -%}{{ page.title | smartify }} · {{ site.title | smartify }}{%- else -%}{{ site.title | smartify }} · {{ site.name | smartify }}{%- endif -%}{% endcapture %}
<meta charset="utf-8">
<meta name="robots" content="index, follow">
<meta name="language" content="{{ site.language }}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ title }}</title>
<link rel="canonical" href="{{ page.url | absolute_url }}">
<meta name="keywords" content="{{ page.keywords | default: site.keywords | smartify }}">
<meta name="description" content="{{ page.description | default: site.description | smartify }}">
<meta name="country" content="{{ site.country }}">
<meta name="region" content="{{ site.region }}">
<meta name="locality" content="{{ page.breadcrumb }}">
<link rel="image_src" href="{{ page.url | absolute_url | append: 'images/realestate_sm.jpg' }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:locale" content="uk_UA">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ site.title | smartify }}">
<meta property="og:title" content="{{ title | remove: ' · Мережа Вебсайтів Нерухомості' }}">
<meta property="og:description" content="{{ page.description | default: site.description | smartify }}">
<meta property="og:image" content="{{ page.url | absolute_url | append: 'images/realestate_sm.jpg' }}">
<meta property="og:image:url" content="{{ page.url | absolute_url | append: 'images/realestate_sm.jpg' }}">
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="600">
<meta property="og:image:height" content="315">
<meta name="twitter:site" content="@realestate_ua">
<meta name="twitter:creator" content="@realestate_ua">
<meta name="twitter:title" content="{{ title | remove: ' · Мережа Вебсайтів Нерухомості' }}">
<meta name="twitter:description" content="{{ page.description | default: site.description | smartify }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ page.url | absolute_url | append: 'images/realestate_sm.jpg' }}">
<meta name="twitter:image:width" content="600">
<meta name="twitter:image:height" content="315">
<meta name="author" content="{{ site.developer.name }}">
<meta name="format-detection" content="telephone=no">
<link rel="icon" type="image/x-icon" href="{{ 'favicon.ico' | relative_url }}">
<link rel="preload" href="{{ "/assets/css/owner.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
<link rel="preload" href="{{ "/assets/js/main.owner.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
<link rel="stylesheet" href="{{ "/assets/css/owner.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}">
