<hr>
<div class="row mt-3">
  {%- assign main_region = region_slug | prepend: '/region/' | append: '/map.html' -%}
  {%- assign rps1 = site.html_pages | sort: "path" | where_exp: "i", "i.dir == '/news/' or i.dir == '/articles/' or i.url == main_region" -%}
  {%- assign rps0 = site.html_pages | sort: "path" | where_exp: "i", "i.dir == '/' and i.name != '404.html' and i.name != 'index.html'" -%}
  {%- assign rps = rps0 | concat: rps1 -%}
  {%- assign 0s = site.html_pages | sort: 'path' | reverse -%}
  {%- for 0 in 0s -%}
    {%- assign slug = 0.url | split: "/" | last -%}
    {%- assign current = 0.url | remove: slug | remove: "//" | append: "/" -%}
    {%- if "/" == current and 0.navhide != 1 -%}
      <div class="col-sm-6 col-md-3">
        {%- if 0.url == '/region/' -%}
          <h6><a href="/">Головна</a></h6>
          <ul class="list-unstyled">
            {%- for rp in rps -%}
              {%- if rp.url contains "new.html" or rp.url contains "add.html" -%}
              {%- else -%}
                <li class="mb-2">
                  {%- if rp.url == page.url -%}
                    <span>{%- if rp.navtitle -%}{{ rp.navtitle }}{%- else -%}{{ rp.title }}{%- endif -%}</span>
                  {%- else -%}
                    <a href="{{ rp.url }}">{%- if rp.navtitle -%}{{ rp.navtitle }}{%- else -%}{{ rp.title }}{%- endif -%}</a>
                  {%- endif -%}
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        {%- else -%}
          {%- if 0.url == page.url -%}
            <h6>{%- if 0.navtitle -%}{{ 0.navtitle }}{%- else -%}{{ 0.title }}{%- endif -%}</h6>
          {%- else -%}
            <h6><a href="{{ 0.url }}">{%- if 0.navtitle -%}{{ 0.navtitle }}{%- else -%}{{ 0.title }}{%- endif -%}</a></h6>
          {%- endif -%}
          {%- include map/1.html current=0.url -%}
        {%- endif -%}
      </div>
      {%- if 0.url -%}
        {%- assign 1s = site.html_pages -%}
        {%- for 1 in 1s -%}
          {%- if 1 -%}
            {%- assign slug = 1.url | split: "/" | last -%}
            {%- assign current = 1.url | remove: slug | remove: "//" | append: "/" -%}
            {%- if 0.url == current and 1.url contains "city" or 1.url contains "town" -%}
            <div class="col-sm-6 col-md-3">
              {%- if 1.url == page.url -%}
                <h6>{%- if 1.navtitle -%}{{ 1.navtitle }}{%- else -%}{{ 1.title }}{%- endif -%}</h6>
              {%- else -%}
                <h6><a href="{{ 1.url }}">{%- if 1.navtitle -%}{{ 1.navtitle }}{%- else -%}{{ 1.title }}{%- endif -%}</a></h6>
              {%- endif -%}
              {%- include map/1.html current=1.url -%}
            </div>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
</div>
<hr class="mt-2">
