{%- assign 3s = site.pages | sort: 'dir' | where_exp: 'i', 'i.dir contains include.current' -%}
{%- if 3s.size > 3 -%}
  <ul class="list-unstyled border-left border-primary mt-1 ml-1 pl-2">
    {%- for 3 in 3s -%}
      {%- assign 3size = 3.dir | split: '/' | size -%}
      {%- if 3.dir != include.current and 3.url contains include.current and 3.navhide != 1 and 3size < 6 -%}
        <li class="mb-2">
          {%- if 3.url == pageu -%}
            <span>{{ 3.navtitle }}</span>
          {%- else -%}
            <a href="{{ 3.dir }}">{{ 3.navtitle }}</a>
          {%- endif -%}
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
{%- endif -%}