{%- assign 3s = site.html_pages | sort:"path" | where_exp: "i", "i.url contains include.current or i.url != include.current" -%}
{%- if 3s.size > 0 -%}
<ul class="list-unstyled border-left border-primary mt-1 ml-1 pl-2">
  {%- for 3 in 3s -%}
    {%- assign slug = 3.url | split: "/" | last -%}
    {%- assign current = 3.url | remove: slug | remove: "//" | append: "/" -%}
    {%- if include.current == current and 3.navhide != 1 and 3.title != '' -%}
    <li class="mb-2">
      {%- if 3.url == page.url -%}
        <span>{%- if 3.navtitle -%}{{ 3.navtitle }}{%- else -%}{{ 3.title }}{%- endif -%}</span>
      {%- else -%}
        <a href="{{ 3.url }}">{%- if 3.navtitle -%}{{ 3.navtitle }}{%- else -%}{{ 3.title }}{%- endif -%}</a>
      {%- endif -%}
      {%- include map/3.html current=3.url -%}
    </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
{%- endif -%}
