{%- include location.html -%}
{%- assign slug = page.dir | split: '/' | last -%}
{%- assign items = '' | split: '' -%}
{%- assign pages = site.html_pages | sort: 'date' | reverse -%}
{%- for lp in pages -%}
  {%- assign l = lp.dir | split: '/' -%}
  {%- if lp.dir contains page.dir and lp.dir != page.dir and l.size == include.l -%}
    {%- unless lp.dir contains '/realtor/agent/' or lp.dir contains '/agency/ahentsiya/' or lp.dir contains '/developer/builder/' and l.size != 8 -%}
      {%- assign items = items | push: lp -%}
    {%- endunless -%}
  {%- endif -%}
{%- endfor -%}
{%- if items.size > 0 -%}
  {%- for item in items limit: 6 -%}
    {%- assign section = item.url | split: '/' | last -%}
    {%- include elements/items-pages.html -%}
  {%- else -%}
  {%- endfor -%}
{%- else -%}
<div class="row mt-4">
  <div class="col-md-8 offset-md-2">
    <div class="alert alert-info" role="alert">
      {% if slug == 'realtor' %}
        <p>Сторінки розділу призначені для поширення інформації про продавця нерухомості та перелік пропонованого продавцем нерухомого майна, яке продається або передається в оренду продавцем. Вартість створення такого розділу з відповідними сторінками, ви можете переглянути на сторінці "<a href="/pricing.html" class="alert-link">Тарифні плани</a>". Щодо питання розміщення ваших пропозицій на цьому вебсайті телефонуйте на&nbsp;{%- include phone-brand.html n=site.contact.phone_advert -%}. <a href="/region/city/{{ site.data.uk.main_city }}/realtor/agent/" class="alert-link">Демонстраційна сторінка продавця нерухомості</a></p>
      {%- elsif slug == 'agency' -%}
        <p>Сторінки розділу призначені для поширення інформації про продавця нерухомості та перелік пропонованого продавцем нерухомого майна, яке продається або передається в оренду продавцем. Вартість створення такого розділу з відповідними сторінками, ви можете переглянути на сторінці "<a href="/pricing.html" class="alert-link">Тарифні плани</a>". Щодо питання розміщення ваших пропозицій на цьому вебсайті телефонуйте на&nbsp;{%- include phone-brand.html n=site.contact.phone_advert -%}. <a href="/region/city/{{ site.data.uk.main_city }}/agency/ahentsiya/" class="alert-link">Демонстраційна сторінка агентства нерухомості</a></p>
      {%- elsif slug == 'developer' -%}
        <p>Сторінки розділу призначені для поширення інформації про забудовника, його житлові комлекси та перелік нерухомого майна, яке продається або передається в оренду компанією забудовником. Вартість створення такого розділу з відповідними сторінками, ви можете переглянути на сторінці "<a href="/pricing.html" class="alert-link">Тарифні плани</a>". Щодо питання розміщення ваших пропозицій на цьому вебсайті телефонуйте на&nbsp;{%- include phone-brand.html n=site.contact.phone_advert -%}. <a href="/region/city/{{ site.data.uk.main_city }}/developer/builder/" class="alert-link">Демонстраційна сторінка забудовника нерухомості</a></p>
      {%- else -%}
        <p>Сторінки розділу призначені для поширення інформації про тих хто займається будівництвом, продажем та орендою нерухомості. Вартість створення такого розділу ви можете переглянути на сторінці "<a href="/pricing.html" class="alert-link">Тарифні плани</a>". Щодо питання розміщення ваших пропозицій на цьому вебсайті телефонуйте на&nbsp;{%- include phone-brand.html n=site.contact.phone_advert -%}.</p>
      {%- endif -%}
    </div>
  </div>
</div>
{%- endif -%}
