{%- include location.html -%}

{%- assign slash = back -%}

{%- capture tlocation -%}
  {%- if location and back.size > 4 and page.dir contains 'city' or page.dir contains 'town' -%}
    {% unless back.size < 4 or page.url contains 'all.html' %}
     · {{ site.data.uk.city }} {{ location }}
    {% endunless %}
  {%- elsif back.size > 3 and page.dir contains 'district' and page.dir != '/district/town/' or back.size >= 4 and page.dir contains 'district' -%}
    {% unless back.size < 3 or page.url contains 'all.html' %}
      {% unless back.size == 4 and page.url contains '/district/town/' %}
       · {{ location }} {{ site.data.uk.district }}
      {% endunless %}
    {% endunless %}
  {%- elsif page.url == '/district/town/' -%}
  {%- endif -%}
{%- endcapture -%}

{%- assign edge = page.url | split: '/' | last -%}
{%- assign dir = '/assets/images/locations/' -%}
{%- assign path = edge | prepend: dir | append: '.jpg' | relative_url -%}
{%- assign file = site.static_files | where: "path", path | first -%}

{%- capture title -%}
  {%- if page.title -%}
    {{ page.title | smartify }}{% if tlocation != '' %}{{ tlocation }}{% endif %} · {{ site.title | smartify }}
  {%- else -%}
    {{ site.title | smartify }}{% if tlocation != '' %}{{ tlocation }}{% endif %} · {{ site.name | smartify }}
  {%- endif -%}
{%- endcapture -%}

<meta charset="utf-8">
<meta name="robots" content="index, follow">
<meta name="language" content="Українська">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ title }}</title>
<link rel="shortlink" href="{{ site.url }}">
<link rel="canonical" href="{{ page.url | absolute_url }}">
{%- if file -%}
<link rel="image_src" href="{{ file.path | replace_first: '.', '_sm.' | url_decode | relative_url }}">
{%- else -%}
<link rel="image_src" href="{{ '/assets/images/locations/default_sm.jpg' | url_decode | relative_url }}">
{%- endif -%}
<meta name="keywords" content="{{ page.keywords | default: site.keywords | smartify }}">
<meta name="description" content="{{ page.description | default: site.description | smartify }}">
<meta name="country" content="{{ site.country }}">
<meta name="region" content="{{ site.region }}">
{%- if location and back.size >= 4 and page.dir contains 'city' or page.dir contains 'town' -%}
<meta name="locality" content="{{ site.data.uk.city }} {{ location }}">
{%- elsif back.size >= 3 and page.dir contains 'district' and page.dir != '/district/town/' or back.size >= 4 and page.dir contains 'district' -%}
<meta name="locality" content="{{ location }} {{ site.data.uk.district }}">
{%- elsif page.url == '/district/town/' -%}
{%- endif -%}
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:locale" content="uk_UA">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ site.title | smartify }}">
<meta property="og:title" content="{{ title | remove: ' · Мережа Вебсайтів Нерухомості' }}">
<meta property="og:description" content="{{ page.description | default: site.description | smartify }}">
{%- if file -%}
<meta property="og:image" content="{{ file.path | replace_first: '.', '_sm.' | url_decode | absolute_url }}">
<meta property="og:image:url" content="{{ file.path | replace_first: '.', '_sm.' | url_decode | absolute_url }}">
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="600">
<meta property="og:image:height" content="315">
{%- else -%}
<meta property="og:image" content="{{ '/assets/images/locations/default_sm.jpg' | url_decode | absolute_url }}">
<meta property="og:image:width" content="600">
<meta property="og:image:height" content="315">
{%- endif -%}
<meta name="author" content="{{ site.developer.name }}">
<meta name="format-detection" content="telephone=no">
<link rel="icon" type="image/x-icon" href="{{ 'favicon.ico' | relative_url }}">

{%- if page.table == 1 or page.table == 2 -%}
  {%- if page.url contains 'map.html' -%}
  {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
    <link rel="preload" href="{{ "/assets/css/main.tl.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
  {%- else -%}
    <link rel="preload" href="{{ "/assets/css/main.t.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
  {%- endif -%}
{%- else -%}
  {%- if page.url contains 'map.html' -%}
  {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
    <link rel="preload" href="{{ "/assets/css/main.l.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
  {%- else -%}
    <link rel="preload" href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
  {%- endif -%}
{%- endif -%}

{%- if page.dir == '/' -%}
  <link rel="preload" href="{{ "/assets/js/main.h.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
{%- else -%}
  {%- if page.table == 1 -%}
    {%- if page.url contains 'map.html' -%}
    {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
      <link rel="preload" href="{{ "/assets/js/main.tl.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
    {%- else -%}
      <link rel="preload" href="{{ "/assets/js/main.t.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
    {%- endif -%}
  {%- elsif page.table == 2 -%}
    {%- if page.url contains 'map.html' -%}
    {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
      <link rel="preload" href="{{ "/assets/js/main.tml.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
    {%- else -%}
      <link rel="preload" href="{{ "/assets/js/main.tm.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
    {%- endif -%}
  {%- else -%}
    {%- if page.url contains 'map.html' -%}
    {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
      <link rel="preload" href="{{ "/assets/js/main.l.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
    {%- else -%}
      <link rel="preload" href="{{ "/assets/js/main.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
    {%- endif -%}
  {%- endif -%}
{%- endif -%}

{%- if page.table == 1 or page.table == 2 -%}
  {%- if page.url contains 'map.html' -%}
  {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
    <link href="{{ "/assets/css/main.tl.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
  {%- else -%}
    <link href="{{ "/assets/css/main.t.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
  {%- endif -%}
{%- else -%}
  {%- if page.url contains 'map.html' -%}
  {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
    <link href="{{ "/assets/css/main.l.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
  {%- else -%}
    <link href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
  {%- endif -%}
{%- endif -%}
