{% assign district = offer.region | replace_first: 'кий', 'кому' | replace: 'район', 'районі' %}
<div class="collapse multi-collapse collapse1{{ offer.id }}{{ include.aid }}">
  <div class="pb-3 px-3 text-right">
    <hr class="mt-0">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mx-n1">
      {%- for file in images limit: 4 -%}
        <div class="col px-1 mb-2 mb-md-0">
          <a href="{{ file.path | url_decode | relative_url }}" class="lightbox" title="{{ offer.type }} {% if offer.address contains site.data.uk.re_vul %}{{ site.data.uk.re_po }} {{ offer.address }}{% else %}{{ site.data.uk.re_at }} {{ offer.address }}{% endif %} {{ site.data.uk.re_in }} {{ offer.location }}{{ district }}" data-lightbox-caption="{{ site.data.uk.re_free_ads_in }} {{ offer.location }}{{ district }}" data-lightbox-width="800" data-lightbox-height="600" data-lightbox-group="2{{ offer.id }}{{ include.aid }}">
            <img src="{{ file.path | url_decode | relative_url }}" loading="lazy" class="img-fluid img-thumbnail" width="380" height="285" title="{{ offer.type }} {% if offer.address contains site.data.uk.re_vul %}{{ site.data.uk.re_po }} {{ offer.address }}{% else %}{{ site.data.uk.re_at }} {{ offer.address }}{% endif %} {{ site.data.uk.re_in }} {{ offer.location }}{{ district }}" alt="{{ offer.type }} {{ site.data.uk.re_in }} {{ offer.location }}{{ district }}">
          </a>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
