<div class="dropdown-menu mt-n1 w-100 border-top-0 rounded-0" aria-labelledby="navDropRealEstate{{ include.slug | capitalize }}">
  <div id="navDropRealEstate{{ include.slug | capitalize }}" class="row row-cols-1 row-cols-sm-2 row-cols-md-3{% if include.current contains '/city/' or include.current contains '/town/' %} row-cols-lg-5{% else %} row-cols-lg-4{% endif %} w-100 mt-mx-2 mt-md-3 mx-0 px-0">
  {%- assign seconds = site.html_pages | sort: 'path' -%}
  {%- for second in seconds -%}
    {%- assign slug = second.url | split: '/' | last -%}
    {%- assign current = second.url | remove: slug | remove: '//' | append: '/' -%}
    {%- if include.current == current and second.navhide != 1 -%}
    <div class="col mb-3">
      {%- if page.url == second.url -%}
          {%- if second.navtitle -%}<span class="dropdown-item active">{{ second.navtitle }}</span>{%- endif -%}
      {%- else -%}
          {%- if second.navtitle -%}<a href="{{ second.url }}" class="dropdown-item">{{ second.navtitle }}</a>{%- endif -%}
      {%- endif -%}
      {%- if second.subtitle -%}<small>{{ second.subtitle | replace_first: " терит", "<br>терит" }}</small>{%- endif -%}
    </div>
    {%- endif -%}
  {%- endfor -%}
  </div>
  <div class="row w-100 mx-0 px-0">
    <div class="col-auto ml-auto">
      <a href="{{ include.current }}" class="dropdown-item">
        {%- if include.title contains "містах" -%}
          {{ include.title | truncate: 23 }}
        {%- else -%}
          {{ include.title }}
        {%- endif -%}
      </a>
    </div>
  </div>
</div>
