{%- assign cdate = site.time | date: '%Y%m%d' -%}
{%- assign slug = include.slug -%}
{%- assign offer = include.offer -%}
{%- assign date = offer.date | date: '%Y%m%d' -%}
{%- capture folder -%}/assets/images/{{ offer.phone }}/{{ offer.id }}/{%- endcapture -%}
{%- capture files -%}
  {%- for file in site.static_files -%}
    {%- if file.path contains folder and file.extname == '.png' or file.extname == '.PNG' or file.extname == '.jpg' or file.extname == '.JPG' or file.extname == '.jpeg' or file.extname == '.JPEG' -%}{{ file.path }}{%- endif -%}
  {%- endfor -%}
{%- endcapture -%}
{%- assign isImage = files | strip_newlines -%}
{%- assign type = offer.type | split: ' ' -%}
{%- assign c_location = offer.location | default: offer.region -%}
{%- capture offerType -%}
  {%- if type.size >= 2 -%}
    {%- if offer.type contains ' в ' or offer.type contains ' від ' -%}
      {{ type | slice: 0,1 | join: ' ' }}
    {%- else -%}
      {{ type | slice: 0,2 | join: ' ' }}
    {%- endif -%}
  {%- else -%}
    {{ type | slice: 0 }}
  {%- endif -%}
{%- endcapture -%}
{%- assign more = site.data.uk.re_more_ads | split: ',' | sample | append: site.data.uk.re_ads -%}
<article class="card h-100{% if slug == 'realtor' or slug == 'agency' or slug == 'developer' %} border-bottom-0{% endif %}" role="presentation">
  <div class="card-body">
    <span class="sr-only"><data value="{{ offer.uid }}">{% if offer.rent == '1' %}{{ site.data.uk.re_object_rent }}{% else %}{{ site.data.uk.re_object_sell }}{% endif %} - {{ offerType }}, {{ site.data.uk.re_cost }} {{ offer.price }}, {{ c_location }}</data></span>
    <h3 class="font-weight-normal m-0 p-0 h6">
      {%- if offer.url and offer.url != '' -%}
        <a href="{{ offer.url }}" aria-label="{{ more | capitalize }}">
          {% include card/body.html %}
        </a>
      {%- else -%}
        <a href="{{ site.url }}/{{ offer.phone }}" aria-label="{{ site.data.uk.re_page }}">
          {% include card/body.html %}
        </a>
      {%- endif -%}
    </h3>
    <div class="my-1 small text-muted date">
      {%- if offer.rent == '1' -%}{{ site.data.uk.re_dater }}{%- else -%}{{ site.data.uk.re_date }}{%- endif -%}&nbsp;<time datetime="{%- if date > cdate -%}{{ site.time | date: '%Y-%m-%d' }}{%- else -%}{{ offer.date | date: '%Y-%m-%d' }}{%- endif -%}">{%- if date > cdate -%}{%- assign cdate = site.time | date: "%Y-%m-%d" -%}{%- include date.html date=cdate -%}{%- else -%}{%- assign date = offer.date | date: "%Y-%m-%d" -%}{%- include date.html date=date -%}{%- endif -%}</time>
    </div>
  </div>
</article>
