---
layout: compress
---
<!doctype html>
<html dir="ltr" lang="uk-UA">
  <head>{%- include head.html -%}</head>
  <body style="background-color:#191021;color:#ffffff">
    <div class="main">
      <main class="content my-4">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="mb-4">{{ page.title | split: "-" | first }} <span class="small text-muted">{{ page.title | split: "-" | last }}</span></h1>
              <div class="card bg-dark text-white">
                {%- assign file = "assets/images/404.jpg" -%}
                <img src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ file | url_decode | relative_url }}&w=1100&h=619&fit=cover&a=attention&output=jpg&q=50&t=square" class="card-img-top" alt="404 error">
                <div class="card-img-overlay">
                  <h5 class="card-title">Довелося довго шукали, але нажаль не вдалося знайти запитувану сторінку.</h5>
                  <div class="card-text">
                    Спробуйте зазирнути у <a id="mapsite" class="text-white collapsed" data-toggle="collapse" href="#websitemap" role="button" aria-expanded="false" aria-controls="websitemap" data-target=".website-map"><u>{{ site.data.uk.map_site }}</u></a> або розпочніть перегляд з <a class="text-white" href="{{ site.url }}" title="Головна сторінка сайту"><u>головної сторінки</u></a>.
                    <div class="bg-white px-3 collapse multi-collapse website-map" id="websitemap">{%- include map/0.html -%}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  {%- include java-script.html -%}
  {% comment %}<div class="sr-only d-none">{%- include map/o-0.html -%}</div>{% endcomment %}
  </body>
</html>
