---
layout: compress
---

{%- capture fname -%}{%- include footer/contact.html legal="name" -%}{%- endcapture -%}
{%- if page.url contains "city" or page.url contains "town" -%}{%- assign isCityTown = true -%}{%- else -%}{%- assign isCityTown = false -%}{%- endif -%}
{%- if page.url contains "village" -%}{%- assign isVillage = true -%}{%- else -%}{%- assign isVillage = false -%}{%- endif -%}

<!doctype html>
<html dir="ltr" lang="uk-UA" prefix="og: http://ogp.me/ns#">
  <head>
    {%- include head.html -%}
  </head>
  <body>

    <div id="top"></div>

    <div class="main">

      {%- include header.html -%}

      <main{% if page.url == "/" %} class="content my-4"{% else %} class="content mb-4"{% endif %}>

        {% if page.url == "/" %}

          <div class="container pb-1 lead-badge">
            <h1 class="h4">Оголошення про продаж і оренду нерухомого майна в містах та районах <a href="/region/{{ site.region_slug }}/" title="Всі оголошення та об'єкти нерухомісті області">{{ site.data.lang-uk.deck_region_in }}</a></h1>
            <a class="badge badge-primary" data-toggle="collapse" href="#collapseArea" role="button" aria-expanded="false" aria-controls="collapseArea" title="Місцевість де розташована нерухомість">Виберіть місцевіть</a> <span class="badge badge-light text-wrap text-left">де б ви хотіли <strong>знайти, купити чи продати нерухомість</strong> або</span>
            <a class="badge badge-primary text-wrap text-left" data-toggle="collapse" href="#collapseAds" role="button" aria-expanded="false" aria-controls="collapseAds" title="Послуги що можуть зацікавити">побудувати чи просто зробити ремонт і облаштувати свою оселю</a>
          </div>

          <div class="bg-light mb-3">
            <div class="container">
              <div class="collapse" id="collapseArea">
                <div class="bg-light pb-3 px-0 border-0 card card-body">
                  {%- include home/anchor-link.html -%}
                </div>
              </div>
              <div class="collapse" id="collapseAds">
                <div class="bg-light pb-3 px-0 border-0 card card-body">
                  <div class="row row-cols-1 row-cols-md-4">
                    {%- include collapse-ads.html -%}
                  </div>
                </div>
              </div>
            </div>
          </div>

        {%- endif -%}

        <div class="container">
          {%- include breadcrumb.html -%}
          {%- assign isContent = content | strip_newlines -%}
          {%- if isContent == '' -%}
            {%- include info-visitors.html -%}
          {%- else -%}
            {{ content }}
          {%- endif -%}
        </div>

      </main>

      {%- include footer.html -%}

    </div>

    {%- include scroll-top.html -%}
    {%- include java-script.html -%}

    {%- if page.url contains 'realtor' and page.url contains 'region' and back.size == 4 and page.table != 1 or page.table != 2 -%}
      {%- include pagination-js.html -%}
    {%- elsif page.url contains 'realtor' and page.url contains 'district' and back.size == 5 and page.table != 1 or page.table != 2 -%}
    {%- elsif page.url contains 'developer' and page.url contains 'region' and back.size == 4 and page.table != 1 or page.table != 2 -%}
      {%- include pagination-js.html -%}
    {%- elsif page.url contains 'developer' and page.url contains 'district' and back.size == 5 and page.table != 1 or page.table != 2 -%}
    {%- elsif page.url contains 'agency' and page.url contains 'region' and back.size == 4 and page.table != 1 or page.table != 2 -%}
      {%- include pagination-js.html -%}
    {%- elsif page.url contains 'agency' and page.url contains 'district' and back.size == 5 and page.table != 1 or page.table != 2 -%}
    {%- elsif page.url contains 'building-materials' and page.table != 1 or page.table != 2 -%}
      {%- include pagination-js.html -%}
    {%- endif -%}

    {% include modals/net-realestate-modal.html %}

    {%- assign slash = page.dir | split: '/' -%}

    {%- if page.url contains 'map_.html' -%}
    {%- elsif page.url contains 'map.html'-%}
    {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
      {% include modals/re-map-modal.html %}
    {%- endif -%}

    {%- if page.url contains '/new.html' -%}
      <script src="{{ '/assets/js/add.js' | relative_url }}"></script>
      <script src="https://www.google.com/recaptcha/api.js?hl=uk"></script>
    {%- endif -%}

{% comment %}
    {%- if page.url contains '/construction.html' and page.layout == 'sells'-%}
      <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
      <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
      <script>

        var elem = document.querySelector('.seller-list');
        var msnry = new Masonry( elem, {
          itemSelector: '.col-lg-4',
          columnWidth: '.col-lg-4',
          percentPosition: true
        });

        var infScroll = new InfiniteScroll( elem, {
          append: '.col-sm-6',
          outlayer: msnry,
          status: '.page-load-status',
        });

      </script>
    {%- endif -%}
{% endcomment %}

  </body>
</html>
