---
layout: default
---
{%- include vars/page-slash.html -%}
{%- include back-title.html minus='1' so='1' st='4' data='title' -%}
<div class="row">
  <div class="col-12">
    <h1 class="h{%- if paged contains '/realtor/' -%}3{%- else -%}2{%- endif -%}">{{ paget }} {{ idata }}</h1>
    {%- assign isContent = content | strip_newlines -%}{%- if isContent == "" -%}{%- else -%}{{ content }}{%- endif -%}
    {%- include nav-section.html -%}
    <h2 class="h3 my-3">
      {%- if paged contains '/rent/' -%}
        {{ site.data.uk.re_rent_h2 }}
      {%- elsif paged contains '/land/' -%}
        {{ site.data.uk.re_land_h2 }}
      {%- elsif paged contains '/house/' -%}
        {{ site.data.uk.re_house_h2 }}
      {%- elsif paged contains '/garage/' -%}
        {{ site.data.uk.re_garage_h2 }}
      {%- elsif paged contains '/commercial/' -%}
        {{ site.data.uk.re_commercial_h2 }}
      {%- elsif paged contains '/apartment/' -%}
        {{ site.data.uk.re_apartment_h2 }}
      {%- elsif pageu contains '/all.html' -%}
        {{ site.data.uk.re_all_h2 }}
      {%- endif -%}
    </h2>
    {%- if slashd.size == 4 -%}
      {%- assign data = paged | split: '/' | slice: 2, 4 | join: '/' | prepend: 'data/' | append: '.html' -%}
    {%- elsif slashd.size == 5 -%}
      {%- assign data = paged | split: '/' | slice: 3, 5 | join: '/' | prepend: 'data/' | append: '.html' -%}
    {%- elsif slashd.size > 5 -%}
      {% assign data = backd | split: '/' | slice: 3, 5 | join: '/' | prepend: 'data/' | append: '.html' %}
    {%- endif -%}
    {%- if data -%}
      {%- include {{ data }} -%}
      {%- if offers.size > paginator.total_posts -%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Увага!</strong> У зв'язку з оновленням, частину оголошень, що не містять власної окремої сторінки можна переглянути тільки у <a href="{{ switch_link }}" class="alert-link">режимі списку, ось тут...</a>
          <button title="Закрити" type="button" class="close" data-dismiss="alert" aria-label="Закрити">
            <span aria-hidden="true">×</span>
          </button>
        </div>
      {%- endif -%}
    {%- endif -%}
    {%- include grid/list.html -%}
  </div>
</div>
