---
layout: compress
---
{%- capture fname -%}{%- include footer/contact.html legal="name" -%}{%- endcapture -%}
{%- if page.url contains "city" or page.url contains "town" -%}{%- assign isCityTown = true -%}{%- else -%}{%- assign isCityTown = false -%}{%- endif -%}
{%- if page.url contains "village" -%}{%- assign isVillage = true -%}{%- else -%}{%- assign isVillage = false -%}{%- endif -%}
{%- include variables/object.html -%}
{%- include variables/whois.html minus=1 -%}
<!doctype html>
<html dir="ltr" lang="uk-UA">
  <head>

    {%- include location.html -%}
    {%- assign slash = back -%}

    {%- capture tlocation -%}
      {%- if location and back.size > 4 and page.dir contains 'city' or page.dir contains 'town' -%}
        {% unless back.size < 4 or page.url contains 'all.html' %}
         · {{ site.data.lang-uk.city }} {{ location }}
        {% endunless %}
      {%- elsif back.size > 3 and page.dir contains 'district' and page.dir != '/district/town/' or back.size >= 4 and page.dir contains 'district' -%}
        {% unless back.size < 3 or page.url contains 'all.html' %}
          {% unless back.size == 4 and page.url contains '/district/town/' %}
           · {{ location }} {{ site.data.lang-uk.district }}
          {% endunless %}
        {% endunless %}
      {%- elsif page.url == '/district/town/' -%}
      {%- endif -%}
    {%- endcapture -%}

    {%- assign edge = page.url | split: '/' | last -%}
    {%- assign dir = '/assets/images/locations/' -%}
    {%- assign path = edge | prepend: dir | append: '.jpg' | relative_url -%}
    {%- assign file = site.static_files | where: "path", path | first -%}

    {%- capture title -%}
      {%- if page.title -%}
        {{ page.title | smartify }}{% if tlocation != '' %}{{ tlocation }}{% endif %} · {{ site.title | smartify }}
      {%- else -%}
        {{ site.title | smartify }}{% if tlocation != '' %}{{ tlocation }}{% endif %} · {{ site.name | smartify }}
      {%- endif -%}
    {%- endcapture -%}

    {%- include meta-name.html -%}

    {%- if page.table == 1 or page.table == 2 -%}
      {%- if page.url contains 'map.html' -%}
      {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
        <link rel="preload" href="{{ "/assets/css/main.tl.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
      {%- else -%}
        <link rel="preload" href="{{ "/assets/css/main.t.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
      {%- endif -%}
    {%- else -%}
      {%- if page.url contains 'map.html' -%}
      {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
        <link rel="preload" href="{{ "/assets/css/main.l.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
      {%- else -%}
        <link rel="preload" href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
      {%- endif -%}
    {%- endif -%}

    {%- if data.size > 10 -%}
      {%- if page.table == 1 -%}
        <link rel="preload" href="{{ "/assets/js/main.todl.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
      {%- elsif page.table == 2 -%}
        <link rel="preload" href="{{ "/assets/js/main.tmodl.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
      {%- endif -%}
    {%- else -%}
      {%- if page.table == 1 -%}
        <link rel="preload" href="{{ "/assets/js/main.tl.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
      {%- elsif page.table == 2 -%}
        <link rel="preload" href="{{ "/assets/js/main.tml.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
      {%- endif -%}
    {%- endif -%}

    {%- if page.table == 1 or page.table == 2 -%}
      {%- if page.url contains 'map.html' -%}
      {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
        <link href="{{ "/assets/css/main.tl.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
      {%- else -%}
        <link href="{{ "/assets/css/main.t.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
      {%- endif -%}
    {%- else -%}
      {%- if page.url contains 'map.html' -%}
      {%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
        <link href="{{ "/assets/css/main.l.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
      {%- else -%}
        <link href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
      {%- endif -%}
    {%- endif -%}

  </head>
  <body>
    <div id="top"></div>
    <div class="main">
      {%- include header.html -%}
      <main class="content mb-4">
        <div class="container">
          {%- include breadcrumb.html -%}
          <div class="row mb-3"><div class="col-12"><h1>{{ page.title }}</h1></div></div>
          <div class="row mb-3">
            <div class="col-md-5">
              {%- include image-slider.html folder=folder group='main' width='480' height='260' -%}
            </div>
            <div class="col-md-7 mt-3 mt-md-0">
              {%- assign isContent = content | strip_newlines -%}
              {%- if isContent == '' -%}
                {%- include info-visitors.html -%}
              {%- else -%}
                {{ content }}
              {%- endif -%}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12 {{ whois }}">
              {%- if fJson == 'true' or otabs.size > 0 or data.size > 0 -%}
              <nav class="navbar navbar-expand-md navbar-light bg-white p-0">
                <div class="navbar-brand d-md-none">
                  <span class="small">{{ site.data.lang-uk.re_about_object }}</span>
                  <span class="ml-1 float-right align-middle text-primary">→</span>
                </div>
                <button class="navbar-toggler ml-1 shadow-none collapsed" type="button" data-toggle="collapse" data-target="#navbarObject" aria-controls="navbarObject" aria-expanded="false" aria-label="Toggle button">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarObject">
                  <ul class="navbar-nav nav nav-tabs border-0" id="object-nav">
                    {%- if fJson == 'true' and isJson.size > 0 or data.size > 0 -%}
                      {%- include elements/offer-tab.html -%}
                    {%- endif -%}
                    {%- if otabs.size > 0 -%}
                      {%- include elements/others-tab.html tabs=otabs -%}
                    {%- endif -%}
                  </ul>
                </div>
              </nav>
              <hr class="mt-2 mt-md-0">
              <div class="tab-content" id="object-content">
                {%- if fJson == 'true' and isJson.size > 0 or data.size > 0 -%}
                  {%- include elements/offer-pane.html -%}
                {%- endif -%}
                {%- if otabs.size > 0 -%}
                  {%- include elements/others-pane.html tabs=otabs -%}
                {%- endif -%}
              </div>
              {%- endif -%}
            </div>
            {%- include elements/pager.html l=8 -%}
          </div>
        </div>
      </main>
      {%- include footer.html -%}
    </div>
    {%- include scroll-top.html -%}

    {%- if data.size > 10 -%}
      {%- if page.table == 1 -%}
        <script src="{{ "/assets/js/main.todl.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
      {%- elsif page.table == 2 -%}
        <script src="{{ "/assets/js/main.tmodl.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
      {%- endif -%}
      {%- include object/js-middle.html -%}
    {%- else -%}
      {%- if page.table == 1 -%}
        <script src="{{ "/assets/js/main.tl.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
      {%- elsif page.table == 2 -%}
        <script src="{{ "/assets/js/main.tml.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
      {%- endif -%}
    {%- endif -%}

    {% include modals/net-realestate-modal.html %}
  </body>
</html>
