---
layout: compress
---
{%- assign owner = page.dir | split: '/' | last -%}
{%- assign owners = site.owners | where_exp: 'i', 'i.path contains owner' -%}
<!doctype html>
<html dir="ltr" lang="uk-UA">
  <head>{%- include owner/head.html -%}</head>
  <body>
    <div id="top"></div>
    {%- if owners.size > 0 -%}
      {%- include owner/navbar.html owners=owners -%}
    {%- endif -%}
    {{ content }}
    {%- if owners.size > 0 -%}
      {%- include owner/section.html owners=owners -%}
    {%- endif -%}
    <footer class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-3 d-flex align-items-center">
            <h5 class="md-3 mb-md-0">{{ site.data.uk.re_owner }}</h5>
          </div>
          <div class="col-md-9">
            <ul class="list-group list-group-horizontal-md justify-content-end">
              {%- assign ones = site.html_pages | sort: 'path' | reverse -%}
              {%- for one in ones -%}
                {%- assign path = one.url | split: '/' -%}
                {%- assign part = path | size -%}
                {%- assign slug = one.url | split: '/' | last -%}
                {%- assign current = one.url | remove: slug | remove: '//' | append: '/' -%}
                {%- if '/' == current and one.navhide != 1 -%}
                  <li class="pl-0 px-md-3 list-group-item border-0">
                    <a href="{{ one.url }}">
                      {%- if one.navtitle -%}{{ one.navtitle }}{%- else -%}{{ one.title }}{%- endif -%}
                    </a>
                  </li>
                  {%- if one.url -%}
                    {%- assign twos = site.html_pages -%}
                    {%- for two in twos -%}
                      {%- assign path = two.url | split: '/' -%}
                      {%- assign part = path | size -%}
                      {%- assign slug = two.url | split: '/' | last -%}
                      {%- assign current = two.url | remove: slug | remove: '//' | append: '/' -%}
                      {%- if one.url == current and two.url contains 'city' or two.url contains 'town' -%}
                      <li class="pl-0 px-md-3 list-group-item border-0">
                        <a href="{{ two.url }}">
                          {%- if two.navtitle -%}{{ two.navtitle }}{%- else -%}{{ two.title }}{%- endif -%}
                        </a>
                      </li>
                      {%- endif -%}
                    {%- endfor -%}
                  {%- endif -%}
                {%- endif -%}
              {%- endfor -%}
              <li class="pl-0 px-md-3 list-group-item border-0">
                <a href="http://www.realestate.net.ua/" title="{{ site.data.uk.ukr }}">
                  {{ site.data.uk.ua }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    {%- include scroll-top.html -%}
    {%- include owner/java-script.html -%}
  </body>
</html>
