---
layout: default
---
{%- include vars/page-slash.html -%}
{%- include back-title.html minus='1' so='1' st='4' data='title' -%}
<div class="row">
  <div class="col-12">
    <h1 class="h{%- if page.dir contains 'realtor' -%}3{%- else -%}2{%- endif -%}">{{ paget }} {{ idata }}</h1>
    {%- assign isContent = content | strip_newlines -%}{%- if isContent == "" -%}{%- else -%}{{ content }}{%- endif -%}
    {%- include nav-section.html -%}
    {%- assign level = slashd | size | plus: 1 %}
    <h2 class="h3 md-3">{{ page.subtitle }}</h2>
    {%- include elements/list-pages.html l=level -%}
  </div>
</div>