---
layout: default
---

{%- assign isContent = content | strip_newlines -%}
{%- if isContent == "" -%}
{%- else -%}
  {{ content }}
{%- endif -%}

{%- comment -%}
{%- assign name = page.name | remove: ".html" -%}
{%- endcomment -%}

{%- assign name = "building-materials" -%}

{%- assign ss = site.data[name] -%}
{%- if ss[0] -%}
  {%- for s in ss -%}
    {%- if forloop.first -%}
    <hr>
    <div class="row seller-list mx-n2">
    {%- endif -%}
      {%- assign slug = s.i | append: s.p -%}
      {%- assign file = site.static_files | where_exp: 'i', "i.path contains '/assets/images/client/' and i.basename == slug" -%}
      <div class="col-sm-6 col-lg-4 px-2 mb-3">
        <div class="card">
          {%- if file[0] -%}
            <img loading="lazy" src="{{ file[0].path | relative_url }}" class="card-img-top" alt="logo">
          {%- else -%}
            {%- if s.n and s.n != "" -%}
              {%- if s.w and s.w !="" -%}
                <div class="card-header pb-0 bg-white border-bottom-0 font-weight-bold">
                  <a href="{{ s.w }}">{{ s.n }}</a>
                </div>
              {%- else -%}
                <div class="card-header bg-white border-bottom-0 font-weight-bold pb-0">{{ s.n }}</div>
              {%- endif -%}
            {%- endif -%}
          {%- endif -%}
          <div class="card-body{% if s.n and s.n != "" %} py-0{% else %} pt-2 pb-0{% endif %}">
            <p class="card-text my-0 text-right"><small class="text-muted">{{ s.r }}</small></p>
            {%- if file[0] and s.n and s.n !="" -%}
              {%- if s.w and s.w !="" -%}
                <h5 class="card-title mb-1">
                  <a href="{{ s.w }}">{{ s.n }}</a>
                </h5>
              {%- else -%}
                <h5 class="card-title">{{ s.n }}</h5>
              {%- endif -%}
            {%- endif -%}
            <p class="card-text">{{ s.t }}</p>
          </div>
          <div class="card-footer bg-white pt-0 border-top-0 text-right">
            {% include footer/phone.html legal=s.p type="text" name=s.n %}
          </div>
        </div>
      </div>
    {%- if forloop.last -%}
    </div>


    <div class="page-load-status">
      <div class="loader-ellips infinite-scroll-request">
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
      </div>
      <p class="infinite-scroll-last">End of content</p>
      <p class="infinite-scroll-error">No more pages to load</p>
    </div>

    <hr class="mt-0">
    {%- endif -%}
  {%- endfor -%}
{%- else -%}
  {%- include info-visitors.html -%}
{%- endif -%}
