{%- assign subs = site.pages | sort: 'path' | where_exp: 'i', 'i.url contains include.current and i.url != include.current and i.navhide != 1' -%}
{%- if subs.size > 0 -%}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3{% if include.current contains '/town/' %} row-cols-lg-4{% elsif include.current contains '/district/' %} row-cols-lg-3{% else %} row-cols-lg-3{% endif %}">
  {%- for sub in subs -%}
    {%- assign sub_slug = sub.url | split: '/' | last -%}
    {%- assign sub_current = sub.url | remove: sub_slug | remove: '//' | append: '/' -%}
    {%- if include.current == sub_current and sub.navhide != 1 and sub.title != '' -%}
      <div class="col mb-2">
        {%- if sub.navtitle -%}<a href="#{{ sub_slug }}">{{ sub.navtitle }}</a>{%- endif -%}
        {%- if sub.subtitle -%}<small>{{ sub.subtitle }}</small>{%- endif -%}
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>
{%- endif -%}
