<div class="row">
  {%- assign ones = site.html_pages | sort: 'path' | reverse -%}
  {%- for one in ones -%}
    {%- assign slug = one.url | split: '/' | last -%}
    {%- assign current = one.url | remove: slug | remove: '//' | append: '/' -%}
    {%- if '/' == current and one.navhide != 1 -%}
      {% if one.url contains '/region/' %}
      {% else %}
      <div class="col-12"><h5 class="mb-2"><a href="#{{ slug }}">{{ one.navtitle }}</a></h5></div>
      <div class="col-12">{%- include home/anchor-region.html current=one.url -%}</div>
      {% endif %}
      {%- if one.url -%}
        {%- assign twos = site.html_pages -%}
        {%- for two in twos -%}
          {%- if two -%}
            {%- assign slug = two.url | split: '/' | last -%}
            {%- assign current = two.url | remove: slug | remove: '//' | append: '/' -%}
            {%- if one.url == current and two.url contains 'city' or two.url contains 'town' -%}
            <div class="col-12"><h5 class="mb-2"><a href="#{{ slug }}">{{ two.navtitle }}</a></h5></div>
            <div class="col-12">{%- include home/anchor-region.html current=two.url -%}</div>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  <div class="col-12">
    <h5 class="mb-2"><a href="{{ site.main_url }}">{{ site.data.lang-uk.other_regions_ua }}</a></h5>
  </div>
  <div class="col-12">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
      {%- assign regs = site.data.realestate | sort: 'navtitle' -%}
      {%- for reg in regs -%}
      {%- if reg.url != site.url -%}
      <div class="col mb-2">
        <a href="{{ reg.url }}" target="_blank">{{ reg.navtitle }}</a>
        <small>{{ site.data.lang-uk.re_ta }} {{ reg.small }}</small>
      </div>
      {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</div>
