{%- assign threes = site.pages | sort: 'path' | where_exp: 'i', "i.url contains include.current and i.url != include.current and i.navhide != 1" -%}
{%- if threes.size > 0 -%}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3{% if include.current contains '/town/' %} row-cols-lg-4{% elsif include.current contains '/district/' %} row-cols-lg-3{% else %} row-cols-lg-3{% endif %}">
  {%- for three in threes -%}
    {%- assign slug = three.url | split: '/' | last -%}
    {%- assign current = three.url | remove: slug | remove: '//' | append: '/' -%}
    {%- if include.current == current and three.navhide != 1 and three.title != '' -%}
    <div class="col mb-2">
      {%- if three.navtitle -%}<a href="#{{ slug }}" title="{{ three.title | replace: 'Нерухомість в місті', 'Нерухоме майно в м. ' }}">{{ three.navtitle }}</a>{%- endif -%}
      {%- if three.subtitle -%}<small>{{ three.subtitle }}</small>{%- endif -%}
    </div>
    {%- endif -%}
  {%- endfor -%}
</div>
{%- endif -%}
