{%- assign url = include.url -%}
{%- if url contains '/city/' or url contains '/town/' -%}{%- assign isCityTown = true -%}{%- else -%}{%- assign isCityTown = false -%}{%- endif -%}
{%- assign region = include.region -%}
{%- assign ss = '' | split:'' -%}
{%- assign ps = site.pages | sort: 'dir' | reverse | where_exp: 'i', 'i.dir != url and i.url contains url and i.navhide != 1' -%}
{%- for i in ps -%}
  {%- assign l = i.dir | split: '/' | size -%}
  {%- if l == 4 and isCityTown == false -%}
    {%- assign ss = ss | push: i -%}
  {%- elsif l == 5 and isCityTown == true -%}
    {%- assign ss = ss | push: i -%}
  {%- endif -%}
{%- endfor -%}
{%- assign mapPage = url | append: 'map.html' | remove_first: '/' -%}
{%- capture isMap -%}{%- file_exists {{ mapPage }} -%}{%- endcapture -%}
{%- if ss[0] -%}
<div class="menu pt-1">
  <nav class="navbar p-0">
    {%- if three.last_modified_at and three.last_modified_at != '' -%}
      <span class="cal" data-toggle="tooltip" data-html="true" data-original-title="Розділ оновлено<br/>{%- include date.html date=three.last_modified_at -%}">&#128197;</span>
    {%- endif -%}
    {%- if isMap == 'true' -%}
      <a class="marker mr-2" href="{{ url }}map" title="{{ site.data.uk.realestate }} {{ site.data.uk.re_on_map }}">
        <i class="d-none">{{ region }}</i>
      </a>
    {%- endif -%}
    <button title="{{ site.data.uk.sections }}" class="navbar-toggler shadow-none collapsed" type="button" data-toggle="collapse" data-target="#{{ region }}-realestate-section" aria-controls="{{ region }}-realestate-section" aria-expanded="false" aria-label="Кнопка перемикання">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="section px-2 collapse navbar-collapse" id="{{ region }}-realestate-section">
      <ul class="navbar-nav">
        {%- for s in ss -%}
          {%- assign sslug = s.dir | split: '/' | last -%}
          {%- include home/navitem.html -%}
        {%- endfor -%}
      </ul>
    </div>
  </nav>
</div>
{%- endif -%}
