{%- assign threes = site.pages | sort: 'path' | where_exp: 'i', "i.url contains include.current and i.url != include.current and i.navhide != 1" -%}
{%- if threes.size > 0 -%}
<div class="row row-cols-1 row-cols-md-2">
  {%- for three in threes -%}
    {%- assign slug = three.url | split: '/' | last -%}
    {%- assign current = three.url | remove: slug | remove: '//' | append: '/' -%}
    {%- if include.current == current and three.navhide != 1 and three.title != '' -%}
    {% comment %}
      {%- if three.url contains site.region_slug -%}
        {%- include home/main-card.html -%}
      {%- endif -%}
    {% endcomment %}
      <div id="{{ slug }}" class="col mb-4">
        <div class="card">
          {%- assign file = site.static_files | where_exp: 'i', "i.path contains '/assets/images/locations/' and i.basename == slug" -%}
          {%- if file[0] -%}
            <img loading="lazy" src="{{ file[0].path | relative_url }}" height="200" width="540" class="img-fluid card-img-top" alt="{{ site.data.lang-uk.realestate }} {{ site.data.lang-uk[slug] }}" title="Продаж і оренда об'єктів нерухомості {{ site.data.lang-uk[slug] }}">
          {%- else -%}
            <img loading="lazy" src="{{ '/assets/images/locations/default.jpg' | url_decode | relative_url }}" height="200" width="540" class="img-fluid card-img-top" alt="{{ site.data.lang-uk.realestate }} {{ site.data.lang-uk[slug] }}" title="Продаж і оренда нерухомого майна {{ site.data.lang-uk[slug] }}">
          {%- endif -%}
          <div class="card-body p-2">
            <h3 class="h5 card-title mb-2">
              <a href="{{ three.url }}" title="Оголошення про продаж та оренду {{ three.title | replace: site.data.lang-uk.realestate, site.data.lang-uk.nerukhomisti }}">
                {%- if three.title -%}{{ three.title | replace_first: ' в ', ' у ' }}{%- else -%}{{ three.navtitle }}{%- endif -%}
              </a>
            </h3>
            {%- include home/card.html region=slug url=three.url title=three.title breadcrumb=three.breadcrumb -%}
          </div>
        </div>
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>
{%- endif -%}
